#### Importación de librerías

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

#### Variables estáticas

In [2]:
countries = ['Germany','Austria','Belgium', 'Bulgaria', 'Cyprus', 'Croatia', 'Denmark', 'Slovakia', 'Slovenia', 'Spain', 'Estonia', 'Finland', 'France', 'Greece', 'Hungary', 'Ireland', 'Italy', 'Latvia', 'Lithuania', 'Luxembourg', 'Malta', 'Netherlands', 'Poland', 'Portugal', 'Czechia', 'Romania', 'Sweden']
min_year = 1946

## General

#### Población
Dataset con la población total en cada país de la Unión Europea cada año desde 1946
- COUNTRY: Países pertenecientes a la Unión Europea
- ISO_CODE: Código del país
- YEAR: Año de la toma de datos
- POPULATION: Total de población

In [3]:
df_population = pd.read_csv("Datos/UE/ext_manual/population-since-1800.csv")

In [4]:
df_population = df_population[df_population.Entity.isin(countries)]
df_population_UE = df_population.rename(columns={'Entity': 'COUNTRY', 'Code': 'ISO_CODE', 'Year': 'YEAR', 'Population (historical estimates)': 'POPULATION'})
df_population_UE = df_population_UE[df_population_UE['YEAR'] >= min_year]
df_population_UE.to_excel('Datos/UE/population_UE.xlsx', index = False, sheet_name='population_UE')

In [5]:
df_population_UE.head()

      COUNTRY ISO_CODE  YEAR  POPULATION
2849  Austria      AUT  1946     6850746
2850  Austria      AUT  1947     6873901
2851  Austria      AUT  1948     6897134
2852  Austria      AUT  1949     6917985
2853  Austria      AUT  1950     6936442

#### PIB - Producto interior bruto
Dataset con el producto interior bruto por persona en cada país de la Unión Europea cada año desde 1946
- COUNTRY: Países pertenecientes a la Unión Europea
- ISO_CODE: Código del país
- YEAR: Año de la toma de datos
- PIB_PER_CAPITA: Producto interior bruto por persona

In [6]:
df_GDP_per_capita = pd.read_csv("Datos/UE/ext_manual/gdp-per-capita-worldbank.csv")

In [7]:
df_GDP_per_capita_UE = df_GDP_per_capita[df_GDP_per_capita.Entity.isin(countries)]
df_GDP_per_capita_UE = df_GDP_per_capita_UE.rename(columns={'Code': 'ISO_CODE', 'Entity': 'COUNTRY', 'Year': 'YEAR', 'GDP per capita, PPP (constant 2017 international $)': 'PIB_PER_CAPITA'})
df_GDP_per_capita_UE = df_GDP_per_capita_UE[df_GDP_per_capita_UE['YEAR'] >= min_year]
df_GDP_per_capita_UE.to_excel('Datos/UE/GDP_per_capita_UE.xlsx', index = False, sheet_name='GDP_per_capita_UE')

In [8]:
df_GDP_per_capita_UE.head()

     COUNTRY ISO_CODE  YEAR  PIB_PER_CAPITA
357  Austria      AUT  1990    37440.837122
358  Austria      AUT  1991    38344.653859
359  Austria      AUT  1992    38718.933050
360  Austria      AUT  1993    38603.258549
361  Austria      AUT  1994    39378.706115

## Paz y seguridad

#### Muertes por conflictos y terrorismos
Dataset con el número de muertes causadas por conflictos y terrorismos en los países de la Union Europea desde 1990
- COUNTRY: Países pertenecientes a la Unión Europea
- ISO_CODE: Código del país
- YEAR: Año de la toma de datos
- CONFLICT_TERRORISM_DEATHS: Número total de muertes causadas por conflictos o terrorismos.

In [9]:
df_death_by_war = pd.read_csv("Datos/UE/ext_manual/conflict-and-terrorism-deaths-ihme-2017.csv")

In [10]:
df_deaths_UE = df_death_by_war[df_death_by_war.Entity.isin(countries)]
df_deaths_UE = df_deaths_UE.rename(columns={'Entity': 'COUNTRY', 'Code': 'ISO_CODE', 'Year': 'YEAR', 'Conflict and terrorism deaths (IHME 2017)': 'CONFLICT_TERRORISM_DEATHS'})
df_deaths_UE = df_deaths_UE[df_deaths_UE['YEAR'] >= min_year]
df_deaths_UE.to_excel('Datos/UE/df_deaths_UE.xlsx', index = False, sheet_name='df_deaths_UE')

In [11]:
df_deaths_UE.head()

     COUNTRY ISO_CODE  YEAR  CONFLICT_TERRORISM_DEATHS
270  Austria      AUT  1990                        0.0
271  Austria      AUT  1991                        0.0
272  Austria      AUT  1992                        0.0
273  Austria      AUT  1993                        0.0
274  Austria      AUT  1994                        0.0

#### Gasto militar
Dataset con el total de gasto militar por año y por persona en cada país de la Unión Europea desde 1960
- COUNTRY: Países pertenecientes a la Unión Europea
- ISO_CODE: Código del país
- YEAR: Año de la toma de datos
- MILITARY_EXPENDITURE_GDP_PERCENTAGE: Gasto militar en porcentaje respecto al PIB
- MILITARY_EXPENDITURE_BILLION_DOLLARS: Gasto militar en millones de dolares

In [12]:
df_military_expenditure = pd.read_csv("Datos/UE/ext_manual/military-expenditure-share-gdp-sipri.csv")
df_military_expenditure2 = pd.read_csv("Datos/UE/ext_manual/military-expenditure-by-country-in-thousands-of-2000-us-dollars.csv")
military_merged = pd.merge(df_military_expenditure, df_military_expenditure2, left_on=['Entity','Code', 'Year'], right_on=['Entity', 'Code', 'Year'])

In [13]:
df_military_expenditure_UE = military_merged[military_merged.Entity.isin(countries)]
df_military_expenditure_UE = df_military_expenditure_UE.rename(columns={'Entity': 'COUNTRY', 'Code': 'ISO_CODE', 'Year': 'YEAR', 'Military expenditure (% of GDP)': 'MILITARY_EXPENDITURE_GDP_PERCENTAGE', 'Military expenditure (1914-2007, real prices) (Correlates of War: National Material Capabilities (v4.0))': 'MILITARY_EXPENDITURE_BILLION_DOLLARS'})
df_military_expenditure_UE = df_military_expenditure_UE[df_military_expenditure_UE['YEAR'] >= min_year]
df_military_expenditure_UE.to_excel('Datos/UE/military_expenditure_UE.xlsx', index = False, sheet_name='military_expenditure_UE')

In [14]:
df_military_expenditure_UE.head()

,COUNTRY,ISO_CODE,YEAR,MILITARY_EXPENDITURE_GDP_PERCENTAGE,MILITARY_EXPENDITURE_BILLION_DOLLARS
216,Austria,AUT,1960,1.458186,340696130.4
217,Austria,AUT,1961,1.309338,336370010.8
218,Austria,AUT,1962,1.352072,367324026.3
219,Austria,AUT,1963,1.579668,456533354.9
220,Austria,AUT,1964,1.887300,587254275.4

## Salud, Alimentación y contaminación

#### Territorios agrícolas
Dataset con el número total de hectáreas por persona dedicadas a fines agrícolas en los países de la Unión Europea desde el año 1961
- COUNTRY: Países pertenecientes a la Unión Europea
- ISO_CODE: Código del país
- YEAR: Año de la toma de datos
- AGRICULTURAL_LAND_PER_CAP: Hectáreas dedicadas a la agricultura por persona

In [15]:
df_agricultural_area_per_capita = pd.read_csv("Datos/UE/ext_manual/agricultural-area-per-capita.csv")

In [16]:
df_agricultural_area_per_capita = df_agricultural_area_per_capita[df_agricultural_area_per_capita.Entity.isin(countries)]
df_agricultural_area_per_capita_UE = df_agricultural_area_per_capita.rename(columns={'Entity': 'COUNTRY', 'Code': 'ISO_CODE', 'Year': 'YEAR', 'agricultural_land_per_capita': 'AGRICULTURAL_LAND_PER_CAP'})
df_agricultural_area_per_capita_UE = df_agricultural_area_per_capita_UE[df_agricultural_area_per_capita_UE['YEAR'] >= min_year]
df_agricultural_area_per_capita_UE.to_excel('Datos/UE/agricultural_area_per_capita_UE.xlsx', index = False, sheet_name='agricultural_area_capita_UE')

In [17]:
df_agricultural_area_per_capita_UE.head()

     COUNTRY ISO_CODE  YEAR  AGRICULTURAL_LAND_PER_CAP
781  Austria      AUT  1961                   0.499976
782  Austria      AUT  1962                   0.493375
783  Austria      AUT  1963                   0.484291
784  Austria      AUT  1964                   0.479115
785  Austria      AUT  1965                   0.474213

#### Consumo de grasas
Dataset con el consumo total de grasas por persona y día dentro de los países de la Unión Europea.
- COUNTRY: Países pertenecientes a la Unión Europea
- ISO_CODE: Código del país
- YEAR: Año de la toma de datos
- FAT_QTY_GR_PER_CAP_DAY: Cantidad de grasa consumida por persona y día

In [18]:
df_daily_per_capita_fat_supply = pd.read_csv("Datos/UE/ext_manual/daily-per-capita-fat-supply.csv")

In [19]:
df_daily_per_capita_fat_supply = df_daily_per_capita_fat_supply[df_daily_per_capita_fat_supply.Entity.isin(countries)]
df_daily_per_capita_fat_supply_UE = df_daily_per_capita_fat_supply.rename(columns={'Entity': 'COUNTRY', 'Code': 'ISO_CODE', 'Year': 'YEAR', 'Fat supply quantity (g/capita/day) (FAO, 2020)': 'FAT_QTY_GR_PER_CAP_DAY'})
df_daily_per_capita_fat_supply_UE = df_daily_per_capita_fat_supply_UE[df_daily_per_capita_fat_supply_UE['YEAR'] >= min_year]
df_daily_per_capita_fat_supply_UE.to_excel('Datos/UE/daily_per_capita_fat_supply_UE.xlsx', index = False, sheet_name='fat_supply_UE')

In [20]:
df_daily_per_capita_fat_supply_UE.head()

     COUNTRY ISO_CODE  YEAR  FAT_QTY_GR_PER_CAP_DAY
659  Austria      AUT  1961                  111.74
660  Austria      AUT  1962                  114.61
661  Austria      AUT  1963                  118.99
662  Austria      AUT  1964                  121.53
663  Austria      AUT  1965                  120.73

#### Consumo de proteínas
Dataset con el consumo total de proteínas por persona y día dentro de los países de la Unión Europea.
- COUNTRY: Países pertenecientes a la Unión Europea
- ISO_CODE: Código del país
- YEAR: Año de la toma de datos
- PROTEIN_QTY_GR_PER_CAP_DAY: Cantidad de proteínas consumida por persona y día

In [21]:
df_daily_per_capita_protein_supply = pd.read_csv("Datos/UE/ext_manual/daily-per-capita-protein-supply.csv")

In [22]:
df_daily_per_capita_protein_supply = df_daily_per_capita_protein_supply[df_daily_per_capita_protein_supply.Entity.isin(countries)]
df_daily_per_capita_protein_supply_UE = df_daily_per_capita_protein_supply.rename(columns={'Entity': 'COUNTRY', 'Code': 'ISO_CODE', 'Year': 'YEAR', 'Protein supply quantity (g/capita/day) (FAO, 2020)': 'PROTEIN_QTY_GR_PER_CAP_DAY'})
df_daily_per_capita_protein_supply_UE = df_daily_per_capita_protein_supply_UE[df_daily_per_capita_protein_supply_UE['YEAR'] >= min_year]
df_daily_per_capita_protein_supply_UE.to_excel('Datos/UE/daily_per_capita_protein_supply_UE.xlsx', index = False, sheet_name='protein_supply_UE')

In [23]:
df_daily_per_capita_protein_supply_UE.head()

     COUNTRY ISO_CODE  YEAR  PROTEIN_QTY_GR_PER_CAP_DAY
659  Austria      AUT  1961                       88.77
660  Austria      AUT  1962                       89.72
661  Austria      AUT  1963                       90.36
662  Austria      AUT  1964                       91.18
663  Austria      AUT  1965                       89.69

#### Esperanza de vida y consumo de calorías
Dataset con información sobre la esperanza de vida y el consumo de calorías en los países pertenecientes a la Unión Europea desde el año 1950.
- COUNTRY: Países pertenecientes a la Unión Europea
- ISO_CODE: Código del país
- YEAR: Año de la toma de datos
- LIFE_EXPECTANCY: Esperanza de vida
- CALORIC_SUPPLY: Consumo de calorías
- POPULATION: Población
- CONTINENT: Continente

In [24]:
df_food_supply = pd.read_csv("Datos/UE/ext_manual/food-supply-vs-life-expectancy.csv")

In [25]:
df_food_supply = df_food_supply[df_food_supply.Entity.isin(countries)]
df_food_supply_UE = df_food_supply.rename(columns={'Entity': 'COUNTRY', 'Code': 'ISO_CODE', 'Year': 'YEAR', 'Estimates, 1950 - 2020: Annually interpolated demographic indicators - Life expectancy at birth, both sexes combined (years)': 'LIFE_EXPECTANCY', 'Daily caloric supply (FAO (2017) & Various historical sources)': 'CALORIC_SUPPLY', 'Population (historical estimates)': 'POPULATION', 'Continent': 'CONTINENT'})
df_food_supply_UE = df_food_supply_UE[df_food_supply_UE['YEAR'] >= min_year]
df_food_supply_UE.to_excel('Datos/UE/df_food_supply_UE.xlsx', index = False, sheet_name='food_supply_UE')

In [26]:
df_food_supply_UE.head()

,COUNTRY,ISO_CODE,YEAR,LIFE_EXPECTANCY,CALORIC_SUPPLY,POPULATION,CONTINENT
3335,Austria,AUT,1950,66.033,NaN,6936442.0,NaN
3336,Austria,AUT,1951,66.149,NaN,6931346.0,NaN
3337,Austria,AUT,1952,66.392,NaN,6931194.0,NaN
3338,Austria,AUT,1953,66.655,NaN,6935149.0,NaN
3339,Austria,AUT,1954,66.940,NaN,6942617.0,NaN

#### Retraso en el crecimiento
Dataset con la cantidad de niños que sufren de retraso en el crecimiento en los países de la Unión Europea desde el año 1990
- COUNTRY: Países pertenecientes a la Unión Europea
- ISO_CODE: Código del país
- YEAR: Año de la toma de datos
- CHILDREN_STUNTED: Número de niños con retraso del crecimiento

In [27]:
df_children_stunted = pd.read_csv("Datos/UE/ext_manual/number-children-stunted-ihme.csv")

In [28]:
df_children_stunted = df_children_stunted[df_children_stunted.Entity.isin(countries)]
df_children_stunted_UE = df_children_stunted.rename(columns={'Entity': 'COUNTRY', 'Code': 'ISO_CODE', 'Year': 'YEAR', 'Number of children who are stunted (IHME)': 'CHILDREN_STUNTED'})
df_children_stunted_UE = df_children_stunted_UE[df_children_stunted_UE['YEAR'] >= min_year]
df_children_stunted_UE.to_excel('Datos/UE/children_stunted_UE.xlsx', index = False, sheet_name='children_stunted_UE')

In [29]:
df_children_stunted_UE.head()

    COUNTRY ISO_CODE  YEAR  CHILDREN_STUNTED
48  Austria      AUT  1990        8349.59268
49  Austria      AUT  1995        6604.34772
50  Austria      AUT  2000        5267.43470
51  Austria      AUT  2005        4845.20559
52  Austria      AUT  2010        4699.02668

#### Debilidad
Dataset con la cantidad de niños que sufren de debilidad en los países de la Unión Europea desde el año 1990
- COUNTRY: Países pertenecientes a la Unión Europea
- ISO_CODE: Código del país
- YEAR: Año de la toma de datos
- CHILDREN_WASTED: Número de niños con debilidad

In [30]:
df_children_wasted = pd.read_csv("Datos/UE/ext_manual/number-children-wasted-ihme.csv")

In [31]:
df_children_wasted = df_children_wasted[df_children_wasted.Entity.isin(countries)]
df_children_wasted_UE = df_children_wasted.rename(columns={'Entity': 'COUNTRY', 'Code': 'ISO_CODE', 'Year': 'YEAR', 'Number of children who are wasted (IHME)': 'CHILDREN_WASTED'})
df_children_wasted_UE = df_children_wasted_UE[df_children_wasted_UE['YEAR'] >= min_year]
df_children_wasted_UE.to_excel('Datos/UE/children_wasted_UE.xlsx', index = False, sheet_name='children_wasted_UE')

In [32]:
df_children_wasted_UE.head()

    COUNTRY ISO_CODE  YEAR  CHILDREN_WASTED
48  Austria      AUT  1990       5562.10668
49  Austria      AUT  1995       5919.34742
50  Austria      AUT  2000       4809.39690
51  Austria      AUT  2005       3909.60714
52  Austria      AUT  2010       3799.87848

#### Merge de salud en niños
Construcción del dataset definitivo para la salud de los niños
- COUNTRY: Países pertenecientes a la Unión Europea
- ISO_CODE: Código del país
- YEAR: Año de la toma de datos
- CHILDREN_STUNTED: Número de niños con retraso del crecimiento
- CHILDREN_WASTED: Número de niños con debilidad
- POPULATION: Población
- STUNTED_PERCENTAGE: Número de niños con retraso del crecimiento respecto a la población
- WASTED_PERCENTAGE: Número de niños con debilidad respecto a la población
- SUM_SW: Suma de porcentajes anteriores

In [33]:
df_children_stunted_wasted = pd.merge(df_children_stunted_UE, df_children_wasted_UE, how="inner", on=["COUNTRY","ISO_CODE","YEAR"])
df_stunted_wasted_population = pd.merge(df_children_stunted_wasted, df_population_UE, how="inner", on=["COUNTRY","ISO_CODE","YEAR"])
df_stunted_wasted_population['STUNTED_PERCENTAGE'] = df_stunted_wasted_population['CHILDREN_STUNTED'] / df_stunted_wasted_population['POPULATION'] * 100
df_stunted_wasted_population['WASTED_PERCENTAGE'] = df_stunted_wasted_population['CHILDREN_WASTED'] / df_stunted_wasted_population['POPULATION'] * 100
df_stunted_wasted_population['SUM_SW'] = df_stunted_wasted_population['STUNTED_PERCENTAGE'] + df_stunted_wasted_population['WASTED_PERCENTAGE']
df_stunted_wasted_population.to_excel('Datos/UE/stunted_wasted_population.xlsx', index = False, sheet_name='df_stunted_wasted_population')
df_stunted_wasted_population.head()

,COUNTRY,ISO_CODE,YEAR,CHILDREN_STUNTED,CHILDREN_WASTED,POPULATION,STUNTED_PERCENTAGE,WASTED_PERCENTAGE,SUM_SW
0,Austria,AUT,1990,8349.59268,5562.10668,7723954,0.108100,0.072011,0.180111
1,Austria,AUT,1995,6604.34772,5919.34742,7990113,0.082656,0.074083,0.156740
2,Austria,AUT,2000,5267.43470,4809.39690,8069276,0.065278,0.059601,0.124879
3,Austria,AUT,2005,4845.20559,3909.60714,8253656,0.058704,0.047368,0.106072
4,Austria,AUT,2010,4699.02668,3799.87848,8409945,0.055875,0.045183,0.101058

#### Principales riesgos de muerte
Dataset con la información referente a cuales son los principales factores de riesgo de muerte y cual es el impacto de cada una para los países de dentro de la Unión Europea
- COUNTRY: Países pertenecientes a la Unión Europea
- ISO_CODE: Código del país
- YEAR: Año de la toma de datos
- UNSAFE_WATER: Agua no potable
- UNSAFE_SANITATION: Sanidad pobre
- NO_ACCESS_HANDWASHING: Sin acceso al lavado de manos
- AIR_POLLUTION_SOLID_FUEL: Contaminación debida a combustibles sólidos
- NON_EXCLUSIVE_BREASTFEEDING: Lactancia materna no exclusiva
- DISCONTINUED_BREASTFEEDING: Lactancia materna discontinuada
- CHILD_WASTING: Niños con debilidad
- CHILD_STUNTING: Niños con retraso del crecimiento
- LOW_BIRTH_WEIGHT: Peso bajo al nacer
- SECONDHAND_SMOKE: Fumador pasivo
- ALCOHOL_USE: Abuso del alcohol
- DRUG_USE: Consumo de drogas
- DIET_LOW_FRUITS: Dieta baja en frutas
- DIET_LOW_VEGETABLES: Dieta baja en verduras
- UNSAFE_SEX: Sexo sin protección
- LOW_PHYSICAL_ACTIVITY: Actividad física baja
- FASTING_PLASMA_GLUCOSE: Glucosa plasmática en ayunas
- HIGH_COLESTEROL: Colesterol alto
- HIGH_BODYMASS_INDEX: Índice de masa corporal alto
- HIGH_BLOOD_PRESSURE: Presión arterial alta
- SMOKING: Fumador
- IRON_DEFICIENCY: Deficiencia de hierro
- VITAMIN_A_DEFICIENCY: Deficiencia de vitamina A
- LOW_BONE_MINERAL_DENSITY: Baja densidad de minerales en los huesos
- AIR_POLLUTION: Contaminación en el aire
- OUTDOOR_AIR_POLLUTION: Contaminación exterior en el aire
- DIET_HIGH_SODIUM: Dieta alta en sal
- DIET_LOW_GRAINS: Dieta baja en cereales
- DIET_LOW_NUTS_SEEDS: Dieta baja en semillas y nueces

In [35]:
df_deaths_by_risk_factor = pd.read_csv("Datos/UE/ext_manual/number-of-deaths-by-risk-factor.csv")

In [36]:
df_deaths_by_risk_factor = df_deaths_by_risk_factor[df_deaths_by_risk_factor.Entity.isin(countries)]
df_deaths_by_risk_factor_UE = df_deaths_by_risk_factor.rename(columns={'Entity': 'COUNTRY', 'Code': 'ISO_CODE', 'Year': 'YEAR', 'Deaths - Unsafe water source - Sex: Both - Age: All Ages (Number)': 'UNSAFE_WATER', 'Deaths - Unsafe sanitation - Sex: Both - Age: All Ages (Number)': 'UNSAFE_SANITATION', 'Deaths - No access to handwashing facility - Sex: Both - Age: All Ages (Number)': 'NO_ACCESS_HANDWASHING', 'Deaths - Household air pollution from solid fuels - Sex: Both - Age: All Ages (Number)': 'AIR_POLLUTION_SOLID_FUEL', 'Deaths - Non-exclusive breastfeeding - Sex: Both - Age: All Ages (Number)': 'NON_EXCLUSIVE_BREASTFEEDING', 'Deaths - Discontinued breastfeeding - Sex: Both - Age: All Ages (Number)': 'DISCONTINUED_BREASTFEEDING', 'Deaths - Child wasting - Sex: Both - Age: All Ages (Number)': 'CHILD_WASTING', 'Deaths - Child stunting - Sex: Both - Age: All Ages (Number)': 'CHILD_STUNTING', 'Deaths - Low birth weight for gestation - Sex: Both - Age: All Ages (Number)': 'LOW_BIRTH_WEIGHT', 'Deaths - Secondhand smoke - Sex: Both - Age: All Ages (Number)': 'SECONDHAND_SMOKE', 'Deaths - Alcohol use - Sex: Both - Age: All Ages (Number)': 'ALCOHOL_USE', 'Deaths - Drug use - Sex: Both - Age: All Ages (Number)': 'DRUG_USE', 'Deaths - Diet low in fruits - Sex: Both - Age: All Ages (Number)': 'DIET_LOW_FRUITS', 'Deaths - Diet low in vegetables - Sex: Both - Age: All Ages (Number)': 'DIET_LOW_VEGETABLES', 'Deaths - Unsafe sex - Sex: Both - Age: All Ages (Number)': 'UNSAFE_SEX', 'Deaths - Low physical activity - Sex: Both - Age: All Ages (Number)': 'LOW_PHYSICAL_ACTIVITY', 'Deaths - High fasting plasma glucose - Sex: Both - Age: All Ages (Number)': 'FASTING_PLASMA_GLUCOSE', 'Deaths - High total cholesterol - Sex: Both - Age: All Ages (Number)': 'HIGH_COLESTEROL', 'Deaths - High body-mass index - Sex: Both - Age: All Ages (Number)': 'HIGH_BODYMASS_INDEX', 'Deaths - High systolic blood pressure - Sex: Both - Age: All Ages (Number)': 'HIGH_BLOOD_PRESSURE', 'Deaths - Smoking - Sex: Both - Age: All Ages (Number)': 'SMOKING', 'Deaths - Iron deficiency - Sex: Both - Age: All Ages (Number)': 'IRON_DEFICIENCY', 'Deaths - Vitamin A deficiency - Sex: Both - Age: All Ages (Number)': 'VITAMIN_A_DEFICIENCY', 'Deaths - Low bone mineral density - Sex: Both - Age: All Ages (Number)': 'LOW_BONE_MINERAL_DENSITY', 'Deaths - Air pollution - Sex: Both - Age: All Ages (Number)': 'AIR_POLLUTION', 'Deaths – Outdoor air pollution (all ages) (IHME)': 'OUTDOOR_AIR_POLLUTION', 'Deaths - Diet high in sodium - Sex: Both - Age: All Ages (Number)': 'DIET_HIGH_SODIUM', 'Deaths - Diet low in whole grains - Sex: Both - Age: All Ages (Number)': 'DIET_LOW_GRAINS', 'Deaths - Diet low in nuts and seeds - Sex: Both - Age: All Ages (Number)': 'DIET_LOW_NUTS_SEEDS'})
df_deaths_by_risk_factor_UE = df_deaths_by_risk_factor_UE[df_deaths_by_risk_factor_UE['YEAR'] >= min_year]
df_deaths_by_risk_factor_UE.to_excel('Datos/UE/deaths_by_risk_factor_UE.xlsx', index = False, sheet_name='deaths_by_risk_factor_UE')

In [37]:
df_deaths_by_risk_factor_UE.head()

,COUNTRY,ISO_CODE,YEAR,UNSAFE_WATER,UNSAFE_SANITATION,NO_ACCESS_HANDWASHING,AIR_POLLUTION_SOLID_FUEL,NON_EXCLUSIVE_BREASTFEEDING,DISCONTINUED_BREASTFEEDING,CHILD_WASTING,...,HIGH_BLOOD_PRESSURE,SMOKING,IRON_DEFICIENCY,VITAMIN_A_DEFICIENCY,LOW_BONE_MINERAL_DENSITY,AIR_POLLUTION,OUTDOOR_AIR_POLLUTION,DIET_HIGH_SODIUM,DIET_LOW_GRAINS,DIET_LOW_NUTS_SEEDS
336,Austria,AUT,1990,0.587017,0.474697,8.504189,222.030899,3.084455,0.044240,12.614411,...,22463.692297,14323.969633,2.053936,1.545080,696.158024,4443.284931,4280.03,2806.066043,4809.836547,3810.205894
337,Austria,AUT,1991,0.583544,0.485799,8.210694,215.978377,2.846965,0.043442,11.633417,...,22501.758752,14361.677811,2.247872,1.410710,660.634275,4474.216835,4317.30,2846.354903,4868.287575,3900.217963
338,Austria,AUT,1992,0.481027,0.447294,7.933914,206.424089,2.523914,0.037762,10.508438,...,22240.051158,14122.890598,1.942539,1.252162,622.760401,4421.261619,4273.68,2843.982804,4836.331087,3914.632174
339,Austria,AUT,1993,0.431748,0.453145,7.508458,196.472151,1.966363,0.033853,8.500308,...,22127.952436,13969.398071,1.577845,0.992341,583.375885,4395.547638,4258.37,2885.973014,4837.470665,3948.799750
340,Austria,AUT,1994,0.394579,0.472746,7.095845,185.134103,1.661526,0.036017,7.381152,...,21687.487378,13594.853535,2.194583,0.853871,546.865885,4294.106338,4167.16,2878.279196,4762.021484,3911.141546

#### Muertes por obesidad
Dataset con la información referente al porcentaje de muertos a causa de la obesidad para paises de la Unión Europea desde el año 1990
- COUNTRY: Países pertenecientes a la Unión Europea
- ISO_CODE: Código del país
- YEAR: Año de la toma de datos
- OBESITY_PERCENTAGE: Porcentaje de obesidad

In [38]:
df_share_of_deaths_obesity = pd.read_csv("Datos/UE/ext_manual/share-of-deaths-obesity.csv")

In [39]:
df_share_of_deaths_obesity = df_share_of_deaths_obesity[df_share_of_deaths_obesity.Entity.isin(countries)]
df_share_of_deaths_obesity_UE = df_share_of_deaths_obesity.rename(columns={'Entity': 'COUNTRY', 'Code': 'ISO_CODE', 'Year': 'YEAR', 'Obesity (IHME, 2019)': 'OBESITY_PERCENTAGE'})
df_share_of_deaths_obesity_UE = df_share_of_deaths_obesity_UE[df_share_of_deaths_obesity_UE['YEAR'] >= min_year]
df_share_of_deaths_obesity_UE.to_excel('Datos/UE/share_of_deaths_obesity_UE.xlsx', index = False, sheet_name='share_of_deaths_obesity_UE')

In [40]:
df_share_of_deaths_obesity_UE.head()

     COUNTRY ISO_CODE  YEAR  OBESITY_PERCENTAGE
364  Austria      AUT  1990                8.84
365  Austria      AUT  1991                9.00
366  Austria      AUT  1992                9.12
367  Austria      AUT  1993                9.27
368  Austria      AUT  1994                9.39

#### Principales componentes de la dieta
Dataset con la información de los componentes principales de la dieta en los países de la Unión Europea desde el año 1961
- COUNTRY: Países pertenecientes a la Unión Europea
- ISO_CODE: Código del país
- YEAR: Año de la toma de datos
- Other (FAO (2017)) (kilocalories per person per day): Otros
- Sugar (FAO (2017)) (kilocalories per person per day): Azucar
- Oils & Fats (FAO (2017)) (kilocalories per person per day): Aceites y grasas
- Meat (FAO (2017)) (kilocalories per person per day): Carne
- Dairy & Eggs (FAO (2017)) (kilocalories per person per day): Huevos y lácteos
- Fruit and Vegetables (FAO (2017)) (kilocalories per person per day): Frutas y verduras
- Starchy Roots (FAO (2017)) (kilocalories per person per day): Raíces almidonadas
- Pulses (FAO (2017)) (kilocalories per person per day): Legumbres
- Cereals and Grains (FAO (2017)) (kilocalories per person per day): Granos y cereales
- Alcoholic Beverages (FAO (2017)) (kilocalories per person per day): Bebidas alcohólicas

In [42]:
df_dietary_composition = pd.read_csv("Datos/UE/ext_manual/dietary-compositions-by-commodity-group.csv")

In [43]:
df_dietary_composition = df_dietary_composition[df_dietary_composition.Entity.isin(countries)]
df_dietary_composition_UE = df_dietary_composition.rename(columns={'Entity': 'COUNTRY', 'Code': 'ISO_CODE', 'Year': 'YEAR'})
df_dietary_composition_UE = df_dietary_composition_UE[df_dietary_composition_UE['YEAR'] >= min_year]
df_dietary_composition_UE.to_excel('Datos/UE/dietary_composition_UE.xlsx', index = False, sheet_name='dietary_composition_UE')

In [44]:
df_dietary_composition_UE.head()

,COUNTRY,ISO_CODE,YEAR,Other (FAO (2017)) (kilocalories per person per day),Sugar (FAO (2017)) (kilocalories per person per day),Oils & Fats (FAO (2017)) (kilocalories per person per day),Meat (FAO (2017)) (kilocalories per person per day),Dairy & Eggs (FAO (2017)) (kilocalories per person per day),Fruit and Vegetables (FAO (2017)) (kilocalories per person per day),Starchy Roots (FAO (2017)) (kilocalories per person per day),Pulses (FAO (2017)) (kilocalories per person per day),Cereals and Grains (FAO (2017)) (kilocalories per person per day),Alcoholic Beverages (FAO (2017)) (kilocalories per person per day)
393,Austria,AUT,1961,25,393,561,290,375,218,156,7,979,187.0
394,Austria,AUT,1962,23,412,580,308,373,193,147,8,966,183.0
395,Austria,AUT,1963,24,385,619,305,374,212,152,9,960,208.0
396,Austria,AUT,1964,25,388,631,315,379,208,148,6,955,215.0
397,Austria,AUT,1965,30,400,626,313,375,179,139,7,940,211.0

#### Emisiones de CO2
Dataset con el total de emisiones de CO2 en toneladas y por persona para los países de Unión Europea desde el año 1946
- COUNTRY: Países pertenecientes a la Unión Europea
- ISO_CODE: Código del país
- YEAR: Año de la toma de datos
- CO2_EMISSIONS_TONNES: Emisiones de CO2 en toneladas
- CO2_EMISSIONS_TONNES_PER_CAPITA: Emisiones de CO2 en toneladas por persona
- POPULATION: Población

In [45]:
df_co2 = pd.read_csv("Datos/UE/ext_manual/owid-co2-data.csv")

In [46]:
df_co2 = df_co2[['iso_code', 'country', 'year', 'co2', 'co2_per_capita', 'population']]
df_co2_UE = df_co2[df_co2.country.isin(countries)]
df_co2_UE = df_co2_UE.rename(columns={'iso_code': 'ISO_CODE', 'country': 'COUNTRY', 'year': 'YEAR', 'co2': 'CO2_EMISSIONS_TONNES', 'co2_per_capita': 'CO2_EMISSIONS_TONNES_PER_CAPITA', 'population':'POPULATION'})
df_co2_UE = df_co2_UE[df_co2_UE['YEAR'] >= min_year]
df_co2_UE.to_excel('Datos/UE/co2_UE.xlsx', index = False, sheet_name='co2_UE')

In [47]:
df_co2_UE.head()

,ISO_CODE,COUNTRY,YEAR,CO2_EMISSIONS_TONNES,CO2_EMISSIONS_TONNES_PER_CAPITA,POPULATION
1720,AUT,Austria,1946,12.760,1.863,6850746.0
1721,AUT,Austria,1947,17.630,2.565,6873901.0
1722,AUT,Austria,1948,24.487,3.550,6897134.0
1723,AUT,Austria,1949,26.574,3.841,6917985.0
1724,AUT,Austria,1950,20.894,3.012,6936442.0

## Derechos humanos

#### Índice de derechos humanos
Dataset con la valoración en el cumplimiento de los derechos humanos dentro de los países de la Unión Europea desde el año 1990
- COUNTRY: Países pertenecientes a la Unión Europea
- ISO_CODE: Código del país
- YEAR: Año de la toma de datos
- GDP: Producto interior bruto (PIB)
- HR_SCORE: Índice de cumplimiento de los derechos humanos

In [48]:
df_hr_scores_VS_GDP = pd.read_csv("Datos/UE/ext_manual/human-rights-score-vs-gdp-per-capita.csv")

In [49]:
df_hr_scores_VS_GDP = df_hr_scores_VS_GDP[['Entity', 'Code', 'Year', 'GDP per capita, PPP (constant 2017 international $)', 'Human Rights Score (Schnakenberg & Fariss, 2014; Fariss, 2019)']]
df_hr_scores_VS_GDP_UE = df_hr_scores_VS_GDP[df_hr_scores_VS_GDP.Entity.isin(countries)]
df_hr_scores_VS_GDP_UE = df_hr_scores_VS_GDP_UE.rename(columns={'Code': 'ISO_CODE', 'Entity': 'COUNTRY', 'Year': 'YEAR', 'GDP per capita, PPP (constant 2017 international $)': 'GDP', 'Human Rights Score (Schnakenberg & Fariss, 2014; Fariss, 2019)':'HR_SCORE'})
df_hr_scores_VS_GDP_UE = df_hr_scores_VS_GDP_UE[df_hr_scores_VS_GDP_UE['YEAR'] >= min_year]
df_hr_scores_VS_GDP_UE.to_excel('Datos/UE/hr_scores_vs_gdp_UE.xlsx', index = False, sheet_name='hr_scores_vs_gdp_UE')

In [50]:
df_hr_scores_VS_GDP_UE.head()

      COUNTRY ISO_CODE  YEAR           GDP  HR_SCORE
3286  Austria      AUT  1990  37440.837122  1.389426
3287  Austria      AUT  1991  38344.653859  1.365549
3288  Austria      AUT  1992  38718.933050  1.373081
3289  Austria      AUT  1993  38603.258549  1.424806
3290  Austria      AUT  1994  39378.706115  1.503127

## Economía y bienestar

#### Desigualdad
Dataset con el indice Gini que sirve de referencia para indicar la desigualdad existente en cada país de la Unión Europea desde el año 1981
- COUNTRY: Países pertenecientes a la Unión Europea
- ISO_CODE: Código del país
- YEAR: Año de la toma de datos
- GINI_INDEX: Índice Gini

In [51]:
df_gini_index = pd.read_csv("Datos/UE/ext_manual/economic-inequality-gini-index.csv")

In [52]:
df_gini_index_UE = df_gini_index[df_gini_index.Entity.isin(countries)]
df_gini_index_UE = df_gini_index_UE.rename(columns={'Code': 'ISO_CODE', 'Entity': 'COUNTRY', 'Year': 'YEAR', 'Gini index': 'GINI_INDEX'})
df_gini_index_UE = df_gini_index_UE[df_gini_index_UE['YEAR'] >= min_year]
df_gini_index_UE.to_excel('Datos/UE/gini_index_UE.xlsx', index = False, sheet_name='gini_index_UE')

In [53]:
df_gini_index_UE.head()

     COUNTRY ISO_CODE  YEAR  GINI_INDEX
146  Austria      AUT  1981    23.04449
147  Austria      AUT  1982    23.04449
148  Austria      AUT  1983    23.04449
149  Austria      AUT  1984    23.04449
150  Austria      AUT  1985    23.04449

#### Gasto en educación
Dataset con el gasto en educación en cada país de la Unión Europea desde el año 1971
- COUNTRY: Países pertenecientes a la Unión Europea
- ISO_CODE: Código del país
- YEAR: Año de la toma de datos
- EXPENDITURE_EDUCATION: Gasto en educación

In [54]:
df_expenditure_education = pd.read_csv("Datos/UE/ext_manual/total-government-expenditure-on-education-gdpslope.csv")
df_expenditure_education.head()

,Entity,Code,Year,"Government expenditure on education, total (% of GDP)",Population (historical estimates),Continent
0,Abkhazia,OWID_ABK,2015,NaN,NaN,Asia
1,Afghanistan,AFG,1971,1.16036,11475450.0,NaN
2,Afghanistan,AFG,1972,1.11718,11791222.0,NaN
3,Afghanistan,AFG,1973,1.42788,12108963.0,NaN
4,Afghanistan,AFG,1975,1.30332,12689164.0,NaN

In [55]:
df_expenditure_education_UE = df_expenditure_education[df_expenditure_education.Entity.isin(countries)]
df_expenditure_education_UE = df_expenditure_education_UE.rename(columns={'Code': 'ISO_CODE', 'Entity': 'COUNTRY', 'Year': 'YEAR', 'Government expenditure on education, total (% of GDP)': 'EXPENDITURE_EDUCATION'})
df_expenditure_education_UE = df_expenditure_education_UE[df_expenditure_education_UE['YEAR'] >= min_year]
df_expenditure_education_UE.to_excel('Datos/UE/expenditure_education_UE.xlsx', index = False, sheet_name='expenditure_education_UE')

In [56]:
df_expenditure_education_UE.head()

,COUNTRY,ISO_CODE,YEAR,EXPENDITURE_EDUCATION,Population (historical estimates),Continent
3230,Austria,AUT,1970,4.14716,7516238.0,NaN
3231,Austria,AUT,1971,4.28235,7550339.0,NaN
3232,Austria,AUT,1972,4.45015,7581120.0,NaN
3233,Austria,AUT,1973,4.51547,7607067.0,NaN
3234,Austria,AUT,1974,4.65594,7626290.0,NaN

#### Gasto en salud
Dataset con el gasto en salud en cada país de la Unión Europea desde el año 1970
- COUNTRY: Países pertenecientes a la Unión Europea
- ISO_CODE: Código del país
- YEAR: Año de la toma de datos
- EXPENDITURE_HEALTH: Gasto en salud

In [57]:
df_expenditure_health = pd.read_csv("Datos/UE/ext_manual/public-health-expenditure-share-GDP-OWID.csv")

In [58]:
df_expenditure_health_UE = df_expenditure_health[df_expenditure_health.Entity.isin(countries)]
df_expenditure_health_UE = df_expenditure_health_UE.rename(columns={'Code': 'ISO_CODE', 'Entity': 'COUNTRY', 'Year': 'YEAR', 'Public expenditure on health %GDP (OWID extrapolated series)': 'EXPENDITURE_HEALTH'})
df_expenditure_health_UE = df_expenditure_health_UE[df_expenditure_health_UE['YEAR'] >= min_year]
df_expenditure_health_UE.to_excel('Datos/UE/expenditure_health_UE.xlsx', index = False, sheet_name='expenditure_health_UE')

In [59]:
df_expenditure_health_UE.head()

     COUNTRY ISO_CODE  YEAR  EXPENDITURE_HEALTH
220  Austria      AUT  1960            2.798114
221  Austria      AUT  1961            2.824539
222  Austria      AUT  1962            2.870450
223  Austria      AUT  1963            2.949351
224  Austria      AUT  1964            2.894765

#### Gasto militar
Dataset con el gasto militar en cada país de la Unión Europea desde el año 1970
- COUNTRY: Países pertenecientes a la Unión Europea
- ISO_CODE: Código del país
- YEAR: Año de la toma de datos
- EXPENDITURE_MILITARY: Gasto militar

In [60]:
df_expenditure_military = pd.read_csv("Datos/UE/ext_manual/military-expenditure-share-gdp-sipri.csv")
df_expenditure_military.head()

        Entity Code  Year  Military expenditure (% of GDP)
0  Afghanistan  AFG  1970                         1.629606
1  Afghanistan  AFG  1973                         1.868910
2  Afghanistan  AFG  1974                         1.610825
3  Afghanistan  AFG  1975                         1.722066
4  Afghanistan  AFG  1976                         2.046087

In [61]:
df_expenditure_military_UE = df_expenditure_military[df_expenditure_military.Entity.isin(countries)]
df_expenditure_military_UE = df_expenditure_military_UE.rename(columns={'Code': 'ISO_CODE', 'Entity': 'COUNTRY', 'Year': 'YEAR', 'Military expenditure (% of GDP)': 'EXPENDITURE_MILITARY'})
df_expenditure_military_UE = df_expenditure_military_UE[df_expenditure_military_UE['YEAR'] >= min_year]
df_expenditure_military_UE.to_excel('Datos/UE/expenditure_military_UE.xlsx', index = False, sheet_name='expenditure_military_UE')

In [62]:
df_expenditure_military_UE.head()

     COUNTRY ISO_CODE  YEAR  EXPENDITURE_MILITARY
467  Austria      AUT  1960              1.458186
468  Austria      AUT  1961              1.309338
469  Austria      AUT  1962              1.352072
470  Austria      AUT  1963              1.579668
471  Austria      AUT  1964              1.887300

#### Percepción de la corrupción
Dataset con la percepción de los ciudadanos sobre el nivel de corrupción en su país
- COUNTRY: Países pertenecientes a la Unión Europea
- ISO_CODE: Código del país
- YEAR: Año de la toma de datos
- CORRUPTION_PERCEPTION: Percepción del nivel de corrupción

In [63]:
df_corruption_perception = pd.read_csv("Datos/UE/ext_manual/human-development-index-vs-corruption-perception-index.csv")

In [64]:
df_corruption_perception = df_corruption_perception[['Entity','Code','Year','Human Development Index (UNDP)','Corruption Perception Index - Transparency International (2018)']]
df_corruption_perception_UE = df_corruption_perception[df_corruption_perception.Entity.isin(countries)]
df_corruption_perception_UE = df_corruption_perception_UE.rename(columns={'Code': 'ISO_CODE', 'Entity': 'COUNTRY', 'Year': 'YEAR', 'Human Development Index (UNDP)': 'HUMAN_DEVELOPMENT_INDEX', 'Corruption Perception Index - Transparency International (2018)': 'CORRUPTION_PERCEPTION'})
df_corruption_perception_UE = df_corruption_perception_UE[df_corruption_perception_UE['YEAR'] >= min_year]
df_corruption_perception_UE.to_excel('Datos/UE/corruption_perception_UE.xlsx', index = False, sheet_name='corruption_perception_UE')

In [65]:
df_corruption_perception_UE.head()

      COUNTRY ISO_CODE  YEAR  HUMAN_DEVELOPMENT_INDEX  CORRUPTION_PERCEPTION
3193  Austria      AUT  1980                    0.747                    NaN
3194  Austria      AUT  1985                    0.764                    NaN
3195  Austria      AUT  1990                    0.795                    NaN
3196  Austria      AUT  1991                    0.800                    NaN
3197  Austria      AUT  1992                    0.805                    NaN

#### Percepción de la corrupción por institución
Dataset con la percepción de los ciudadanos sobre el nivel de corrupción en su país por institución
- COUNTRY: Países pertenecientes a la Unión Europea
- ISO_CODE: Código del país
- YEAR: Año de la toma de datos
- Police: Percepción del nivel de corrupción en la Policia
- Legislature: Percepción del nivel de corrupción en la legislatura
- Government officials: Percepción del nivel de corrupción en el gobierno
- Local government councillors: Percepción del nivel de corrupción en el gobierno local
- Prime Minister / President: Percepción del nivel de corrupción por parte del presidente o primer ministro
- Tax officials: Percepción del nivel de corrupción en los Funcionarios tributarios
- Business executives: Percepción del nivel de corrupción en las empresas
- Judges and magistrates: Percepción del nivel de corrupción en jueces y magistrados
- Religious leaders: Percepción del nivel de corrupción en la iglesia
- Traditional leaders: Percepción del nivel de corrupción en los líderes

In [66]:
df_corruption_by_institution = pd.read_csv("Datos/UE/ext_manual/perception-of-corruption-by-institution.csv")

In [67]:
df_corruption_by_institution_UE = df_corruption_by_institution[df_corruption_by_institution.Entity.isin(countries)]
df_corruption_by_institution_UE = df_corruption_by_institution_UE.rename(columns={'Code': 'ISO_CODE', 'Entity': 'COUNTRY', 'Year': 'YEAR'})
df_corruption_by_institution_UE = df_corruption_by_institution_UE[df_corruption_by_institution_UE['YEAR'] >= min_year]
df_corruption_by_institution_UE.to_excel('Datos/UE/corruption_by_institution_UE.xlsx', index = False, sheet_name='corruption_by_institution_UE')

In [68]:
df_corruption_by_institution_UE.head()

,COUNTRY,ISO_CODE,YEAR,Police,Legislature,Government officials,Local government councillors,Prime Minister / President,Tax officials,Business executives,Judges and magistrates,Religious leaders,Traditional leaders
13,Belgium,BEL,2013,41,51.0,51,NaN,NaN,NaN,41,43,56.0,NaN
17,Bulgaria,BGR,2013,65,71.0,64,NaN,NaN,NaN,63,86,49.0,NaN
26,Croatia,HRV,2013,51,63.0,64,NaN,NaN,NaN,50,70,31.0,NaN
27,Cyprus,CYP,2013,76,76.0,59,NaN,NaN,NaN,37,38,44.0,NaN
28,Czechia,CZE,2013,54,59.0,71,NaN,NaN,NaN,45,52,17.0,NaN

#### Nivel de productividad por horas trabajadas
Dataset con el nivel de productividad y las horas trabajadas en la Unión Europea
- COUNTRY: Países pertenecientes a la Unión Europea
- ISO_CODE: Código del país
- YEAR: Año de la toma de datos
- HOURS_WORKED_ Horas trabajadas
- PRODUCTIVITY: Nivel de productividad

In [69]:
df_productivity_vs_hours_worked = pd.read_csv("Datos/UE/ext_manual/productivity-vs-annual-hours-worked.csv")

In [70]:
df_productivity_vs_hours_worked = df_productivity_vs_hours_worked[['Entity','Code','Year','Average annual hours worked by persons engaged (avh) (PWT 9.1 (2019))','Productivity (PWT 9.1 (2019))']]
df_productivity_vs_hours_worked_UE = df_productivity_vs_hours_worked[df_productivity_vs_hours_worked.Entity.isin(countries)]
df_productivity_vs_hours_worked_UE = df_productivity_vs_hours_worked_UE.rename(columns={'Code': 'ISO_CODE', 'Entity': 'COUNTRY', 'Year': 'YEAR', 'Average annual hours worked by persons engaged (avh) (PWT 9.1 (2019))': 'HOURS_WORKED', 'Productivity (PWT 9.1 (2019))': 'PRODUCTIVITY'})
df_productivity_vs_hours_worked_UE = df_productivity_vs_hours_worked_UE[df_productivity_vs_hours_worked_UE['YEAR'] >= min_year]
df_productivity_vs_hours_worked_UE.to_excel('Datos/UE/productivity_vs_hours_worked_UE.xlsx', index = False, sheet_name='productivity_vs_hours_worked_UE')

In [71]:
df_productivity_vs_hours_worked_UE.head()

      COUNTRY ISO_CODE  YEAR  HOURS_WORKED  PRODUCTIVITY
3193  Austria      AUT  1950     2085.6694      5.969629
3194  Austria      AUT  1951     2083.0156      6.162632
3195  Austria      AUT  1952     2080.3652      6.479048
3196  Austria      AUT  1953     2077.7180      6.885874
3197  Austria      AUT  1954     2075.0742      7.186485

#### Porcentaje de compensaciones a empleados en el servicio público
Dataset con el porcentaje del gasto reservado a compensaciones en el servicio público
- COUNTRY: Países pertenecientes a la Unión Europea
- ISO_CODE: Código del país
- YEAR: Año de la toma de datos
- COMPENSATION_SPENDING: Porcentaje del gasto reservado a compensaciones en el servicio público

In [72]:
df_employee_compensation_spending = pd.read_csv("Datos/UE/ext_manual/share-of-employee-compensation-in-public-spending.csv")

In [73]:
df_employee_compensation_spending_UE = df_employee_compensation_spending[df_employee_compensation_spending.Entity.isin(countries)]
df_employee_compensation_spending_UE = df_employee_compensation_spending_UE.rename(columns={'Code': 'ISO_CODE', 'Entity': 'COUNTRY', 'Year': 'YEAR', 'Compensation of employees (% of expense)': 'COMPENSATION_SPENDING'})
df_employee_compensation_spending_UE = df_employee_compensation_spending_UE[df_employee_compensation_spending_UE['YEAR'] >= min_year]
df_employee_compensation_spending_UE.to_excel('Datos/UE/compensation_spending_UE.xlsx', index = False, sheet_name='compensation_spending_UE')

In [74]:
df_employee_compensation_spending_UE.head()

     COUNTRY ISO_CODE  YEAR  COMPENSATION_SPENDING
130  Austria      AUT  1972              31.978812
131  Austria      AUT  1973              23.475591
132  Austria      AUT  1974              23.188406
133  Austria      AUT  1975              23.571692
134  Austria      AUT  1976              23.998687

#### Porcentaje de la población en riesgo de pobreza extrema
Dataset con el porcentaje de población en riesgo de pobreza extrema
- COUNTRY: Países pertenecientes a la Unión Europea
- ISO_CODE: Código del país
- YEAR: Año de la toma de datos
- EXTREME_POVERTY: Porcentaje de población en riesgo de pobreza extrema

In [75]:
df_extreme_poverty = pd.read_csv("Datos/UE/ext_manual/share-of-population-in-extreme-poverty.csv")

In [76]:
df_extreme_poverty_UE = df_extreme_poverty[df_extreme_poverty.Entity.isin(countries)]
df_extreme_poverty_UE = df_extreme_poverty_UE.rename(columns={'Code': 'ISO_CODE', 'Entity': 'COUNTRY', 'Year': 'YEAR', '$1.90 per day - share of population below poverty line': 'EXTREME_POVERTY'})
df_extreme_poverty_UE = df_extreme_poverty_UE[df_extreme_poverty_UE['YEAR'] >= min_year]
df_extreme_poverty_UE.to_excel('Datos/UE/extreme_poverty_UE.xlsx', index = False, sheet_name='extreme_poverty_UE')

In [77]:
df_extreme_poverty_UE.head()

     COUNTRY ISO_CODE  YEAR  EXTREME_POVERTY
234  Austria      AUT  1981              0.0
235  Austria      AUT  1982              0.0
236  Austria      AUT  1983              0.0
237  Austria      AUT  1984              0.0
238  Austria      AUT  1985              0.0

#### Tasas
Dataset con los datos sobre tasas de cada país de la Unión Europea
- COUNTRY: Países pertenecientes a la Unión Europea
- ISO_CODE: Código del país
- YEAR: Año de la toma de datos
- TAXES_INCOME: Impuestos sobre la renta
- TAXES_ON_GOODS_SERVICES: Impuestos sobre bienes y servicios

In [78]:
df_taxes = pd.read_csv("Datos/UE/ext_manual/taxes-on-income-vs-taxes-on-goods-and-services.csv")

In [79]:
df_taxes = df_taxes[['Entity','Code','Year','Total taxes on income, profits, and capital gains (% of GDP) (ICTD (2021))','Total taxes on goods and services (% of GDP) (ICTD (2021))']]
df_taxes_UE = df_taxes[df_taxes.Entity.isin(countries)]
df_taxes_UE = df_taxes_UE.rename(columns={'Code': 'ISO_CODE', 'Entity': 'COUNTRY', 'Year': 'YEAR', 'Total taxes on income, profits, and capital gains (% of GDP) (ICTD (2021))': 'TAXES_INCOME', 'Total taxes on goods and services (% of GDP) (ICTD (2021))': 'TAXES_ON_GOODS_SERVICES'})
df_taxes_UE = df_taxes_UE[df_taxes_UE['YEAR'] >= min_year]
df_taxes_UE.to_excel('Datos/UE/taxes_UE.xlsx', index = False, sheet_name='taxes_UE')

In [80]:
df_taxes_UE.head()

        COUNTRY ISO_CODE    YEAR  TAXES_INCOME  TAXES_ON_GOODS_SERVICES
3193    Austria      AUT  2013.0     12.284879                12.111539
5000    Belgium      BEL  2013.0     15.962711                11.894421
7549   Bulgaria      BGR  2013.0      4.965108                15.147200
11866   Croatia      HRV  2013.0      6.018482                18.179440
12456    Cyprus      CYP  2013.0      9.510420                12.283968

#### Total de gastos respecto al PIB
Dataset con la cantidad total de gastos
- COUNTRY: Países pertenecientes a la Unión Europea
- ISO_CODE: Código del país
- YEAR: Año de la toma de datos
- EXPENSES_BY_GDP: Total de gastos respecto al PIB

In [81]:
df_total_expenditures = pd.read_csv("Datos/UE/ext_manual/total-gov-expenditure-gdp-wdi.csv")

In [82]:
df_total_expenditures_UE = df_total_expenditures[df_total_expenditures.Entity.isin(countries)]
df_total_expenditures_UE = df_total_expenditures_UE.rename(columns={'Code': 'ISO_CODE', 'Entity': 'COUNTRY', 'Year': 'YEAR', 'Expense (% of GDP)': 'EXPENSES_BY_GDP'})
df_total_expenditures_UE = df_total_expenditures_UE[df_total_expenditures_UE['YEAR'] >= min_year]
df_total_expenditures_UE.to_excel('Datos/UE/total_expenditures_UE.xlsx', index = False, sheet_name='total_expenditures_UE')

In [83]:
df_total_expenditures_UE.head()

     COUNTRY ISO_CODE  YEAR  EXPENSES_BY_GDP
154  Austria      AUT  1972        25.915402
155  Austria      AUT  1973        27.612091
156  Austria      AUT  1974        27.903875
157  Austria      AUT  1975        31.108477
158  Austria      AUT  1976        31.619157

#### Total de ingresos fiscales
Dataset con la cantidad total de ingresos fiscales
- COUNTRY: Países pertenecientes a la Unión Europea
- ISO_CODE: Código del país
- YEAR: Año de la toma de datos
- TAXES_REVENUE_BY_GDP: Ingresos fiscales

In [84]:
df_tax_revenues = pd.read_csv("Datos/UE/ext_manual/total-tax-revenues-gdp.csv")

In [85]:
df_tax_revenues_UE = df_tax_revenues[df_tax_revenues.Entity.isin(countries)]
df_tax_revenues_UE = df_tax_revenues_UE.rename(columns={'Code': 'ISO_CODE', 'Entity': 'COUNTRY', 'Year': 'YEAR', 'Total tax revenue (% of GDP) (ICTD (2021))': 'TAXES_REVENUE_BY_GDP'})
df_tax_revenues_UE = df_tax_revenues_UE[df_tax_revenues_UE['YEAR'] >= min_year]
df_tax_revenues_UE.to_excel('Datos/UE/tax_revenues_UE.xlsx', index = False, sheet_name='tax_revenues_UE')

In [86]:
df_tax_revenues_UE.head()

     COUNTRY ISO_CODE  YEAR  TAXES_REVENUE_BY_GDP
227  Austria      AUT  1980             39.167482
228  Austria      AUT  1981             40.298944
229  Austria      AUT  1982             39.102579
230  Austria      AUT  1983             38.782488
231  Austria      AUT  1984             40.481338