In [1]:
# importing the libraries
from bs4 import BeautifulSoup
import requests
import pandas as pd

# Espa√±a
## PIB Anual

In [2]:
url="https://datosmacro.expansion.com/pib/espana"

# Make a GET request to fetch the raw HTML content
html_content = requests.get(url).text

# Parse the html content
soup = BeautifulSoup(html_content, "lxml")

In [3]:
tablas = soup.find_all('table')

tr = tablas[2].tbody.find_all("tr")
df_pib_esp = pd.DataFrame(columns = ['FECHA' , 'PIB', 'PIB_VAR_PORCENTAJE'])
i = 0
for i in range(len(tr)):
    values = []
    for td in tr[i].find_all("td"):
        values.append(td.get("data-value"))
    if values[0] != '0' and values[1] != '0' and values[3] != '0':
        df_pib_esp = df_pib_esp.append({'FECHA' : values[0] , 'PIB' : values[1], 'PIB_VAR_PORCENTAJE' : values[3]} , ignore_index=True)
    i = i + 1

In [4]:
df_pib_esp[['PIB', 'PIB_VAR_PORCENTAJE']] = df_pib_esp[['PIB', 'PIB_VAR_PORCENTAJE']].astype('float')
df_pib_esp['FECHA'] = pd.to_datetime(df_pib_esp.FECHA)
df_pib_esp['FECHA'] = df_pib_esp['FECHA'].dt.year
# df_pib_esp.to_excel('Datos/ESP/pib.xlsx', index=False)
df_pib_esp

    FECHA        PIB  PIB_VAR_PORCENTAJE
0    2020  1121948.0               -10.8
1    2019  1244375.0                 2.1
2    2018  1203259.0                 2.3
3    2017  1161867.0                 3.0
4    2016  1113840.0                 3.0
5    2015  1077590.0                 3.8
6    2014  1032158.0                 1.4
7    2013  1020348.0                -1.4
8    2012  1031099.0                -3.0
9    2011  1063763.0                -0.8
10   2010  1072709.0                 0.2
11   2009  1069323.0                -3.8
12   2008  1109541.0                 0.9
13   2007  1075539.0                 3.6
14   2006  1003823.0                 4.1
15   2005   927357.0                 3.7
16   2004   859437.0                 3.1
17   2003   802266.0                 3.0
18   2002   749552.0                 2.7
19   2001   700993.0                 3.9
20   2000   647851.0                 5.2
21   1999   595723.0                 4.5
22   1998   555993.0                 4.4
23   1997   519268.0                 3.7
24   1996   489203.0                 2.7
25   1995   459337.0                 5.0
26   1994   425089.0                 2.4
27   1993   425936.0                -1.0
28   1992   463263.0                 0.9
29   1991   443715.0                 2.5
30   1990   401686.0                 3.8
31   1989   357882.0                 4.8
32   1988   302674.0                 5.1
33   1987   263138.0                 5.5
34   1986   243382.0                 3.3
35   1985   226288.0                 2.3
36   1984   207776.0                 1.8
37   1983   182781.0                 1.8
38   1982   190291.0                 1.2
39   1981   173339.0                -0.1
40   1980   159100.0                 1.2

In [5]:
df_pib_esp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41 entries, 0 to 40
Data columns (total 3 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   FECHA               41 non-null     int64
 1   PIB                 41 non-null     float64
 2   PIB_VAR_PORCENTAJE  41 non-null     float64
dtypes: float64(2), int64(1)
memory usage: 1.1 KB

## Evoluci√≥n de la Deuda

In [6]:
url="https://datosmacro.expansion.com/deuda/espana"

# Make a GET request to fetch the raw HTML content
html_content = requests.get(url).text

# Parse the html content
soup = BeautifulSoup(html_content, "lxml")

In [7]:
tablas = soup.find_all('table')

tr = tablas[1].tbody.find_all("tr")
df_deuda_esp = pd.DataFrame(columns = ['FECHA' , 'DEUDA_TOTAL', 'DEUDA_PIB_PORCENTAJE', 'DEUDA_PER_CAPITA'])
i = 0
for i in range(len(tr)):
    values = []
    for td in tr[i].find_all("td"):
        values.append(td.get("data-value"))
    if values[0] != '0' and values[1] != '0' and values[2] != '0' and values[3] != '0':
        df_deuda_esp = df_deuda_esp.append({'FECHA' : values[0] , 'DEUDA_TOTAL' : values[1], 'DEUDA_PIB_PORCENTAJE' : values[2], 'DEUDA_PER_CAPITA' : values[3]} , ignore_index=True)
    i = i + 1

In [8]:
df_deuda_esp[['DEUDA_TOTAL', 'DEUDA_PIB_PORCENTAJE', 'DEUDA_PER_CAPITA']] = df_deuda_esp[['DEUDA_TOTAL', 'DEUDA_PIB_PORCENTAJE', 'DEUDA_PER_CAPITA']].astype(float)
df_deuda_esp['FECHA'] = pd.to_datetime(df_deuda_esp.FECHA)
df_deuda_esp['FECHA'] = df_deuda_esp['FECHA'].dt.year
# df_deuda_esp.to_excel('Datos/ESP/deuda.xlsx', index=False)
df_deuda_esp

    FECHA  DEUDA_TOTAL  DEUDA_PIB_PORCENTAJE  DEUDA_PER_CAPITA
0    2020    1345784.0             1537155.0            120.00
1    2019    1188839.0             1330905.0             95.50
2    2018    1173350.0             1385727.0             97.50
3    2017    1145097.0             1293616.0             98.60
4    2016    1104554.0             1222631.0             99.20
5    2015    1070079.0             1187253.0             99.30
6    2014    1039388.0             1380827.0            100.70
7    2013     977312.0             1297968.0             95.80
8    2012     889909.0             1143356.0             86.30
9    2011     743043.0             1034316.0             69.90
10   2010     649153.0              860582.0             60.50
11   2009     569535.0              794388.0             53.30
12   2008     440621.0              648065.0             39.70
13   2007     384662.0              527179.0             35.80
14   2006     392132.0              492361.0             39.10
15   2005     393479.0              489527.0             42.40
16   2004     389888.0              484982.0             45.40
17   2003     382775.0              432995.0             47.70
18   2002     384145.0              363248.0             51.20
19   2001     378883.0              339328.0             54.00
20   2000     374557.0              345941.0             57.80
21   1999     362223.0              386058.0             60.80
22   1998     346417.0              386313.0             62.30
23   1997     333627.0              379610.0             64.20
24   1996     319976.0              420452.0             65.40
25   1995     283457.0              378579.0             61.50
26   1994     249508.0              303227.0             58.68
27   1993     225627.0              289196.0             56.16
28   1992     174047.0              278438.0             45.42
29   1991     152672.0              241624.0             43.09
30   1990     136775.0              221523.0             42.51
31   1989     117061.0              164704.0             41.03
32   1988     100796.0              144203.0             39.63
33   1987      98919.0              133620.0             43.14
34   1986      88955.0              105863.0             43.30
35   1985      75769.0               74313.0             42.06
36   1984      59926.0               62174.0             37.08
37   1983      43817.0               51084.0             30.38
38   1982      31769.0               48341.0             25.14
39   1981      22017.0               39842.0             20.02
40   1980      15997.0               37213.0             16.58

## Evoluci√≥n del d√©ficit

In [9]:
url="https://datosmacro.expansion.com/deficit/espana"

# Make a GET request to fetch the raw HTML content
html_content = requests.get(url).text

# Parse the html content
soup = BeautifulSoup(html_content, "lxml")

In [10]:
tablas = soup.find_all('table')

tr = tablas[1].tbody.find_all("tr")
df_deficit_esp = pd.DataFrame(columns = ['FECHA' , 'DEFICIT', 'DEFICIT_PIB_PORCENTAJE'])
i = 0
for i in range(len(tr)):
    values = []
    for td in tr[i].find_all("td"):
        values.append(td.get("data-value"))
    if values[0] != '0' and values[1] != '0' and values[3] != '0':
        df_deficit_esp = df_deficit_esp.append({'FECHA' : values[0] , 'DEFICIT' : values[1], 'DEFICIT_PIB_PORCENTAJE' : values[3]} , ignore_index=True)
    i = i + 1

In [11]:
df_deficit_esp[['DEFICIT', 'DEFICIT_PIB_PORCENTAJE']] = df_deficit_esp[['DEFICIT', 'DEFICIT_PIB_PORCENTAJE']].astype(float)
df_deficit_esp['FECHA'] = pd.to_datetime(df_deficit_esp.FECHA)
df_deficit_esp['FECHA'] = df_deficit_esp['FECHA'].dt.year
# df_deficit_esp.to_excel('Datos/ESP/deficit.xlsx', index=False)
df_deficit_esp

    FECHA   DEFICIT  DEFICIT_PIB_PORCENTAJE
0    2020 -122900.0                  -10.95
1    2019  -35763.0                   -2.87
2    2018  -30044.0                   -2.50
3    2017  -35273.0                   -3.04
4    2016  -47953.0                   -4.31
5    2015  -55786.0                   -5.18
6    2014  -61056.0                   -5.92
7    2013  -71791.0                   -7.04
8    2012 -110696.0                  -10.74
9    2011 -103606.0                   -9.74
10   2010 -102193.0                   -9.53
11   2009 -120576.0                  -11.28
12   2008  -50731.0                   -4.57
13   2007   20287.0                    1.89
14   2006   21322.0                    2.12
15   2005   11421.0                    1.23
16   2004    -941.0                   -0.11
17   2003   -3009.0                   -0.38
18   2002   -2374.0                   -0.32
19   2001   -3189.0                   -0.45
20   2000   -7520.0                   -1.16
21   1999   -7382.0                   -1.24
22   1998  -14594.0                   -2.62
23   1997  -20028.0                   -3.86
24   1996  -28681.0                   -5.86
25   1995  -31267.0                   -6.79
26   1994  -26995.0                   -6.50
27   1993  -27781.0                   -7.09
28   1992  -16499.0                   -4.39
29   1991  -16451.0                   -4.71
30   1990  -12767.0                   -4.01
31   1989   -8776.0                   -3.08
32   1988   -8903.0                   -3.50
33   1987   -7735.0                   -3.37
34   1986  -12535.0                   -6.10
35   1985  -12604.0                   -7.00
36   1984   -8963.0                   -5.55
37   1983   -6997.0                   -4.85
38   1982   -7121.0                   -5.64
39   1981   -2707.0                   -2.46
40   1980   -2011.0                   -2.08

## Gasto p√∫blico en educaci√≥n

In [12]:
url="https://datosmacro.expansion.com/estado/gasto/educacion/espana"

# Make a GET request to fetch the raw HTML content
html_content = requests.get(url).text

# Parse the html content
soup = BeautifulSoup(html_content, "lxml")

In [13]:
tablas = soup.find_all('table')

tr = tablas[0].tbody.find_all("tr")
df_gasto_edu_esp = pd.DataFrame(columns = ['FECHA' , 'EDU_GASTO_TOTAL', 'EDU_GASTO_PIB_PORCENTAJE'])
i = 0
for i in range(len(tr)):
    values = []
    for td in tr[i].find_all("td"):
        values.append(td.get("data-value"))
    if values[0] != '0' and values[1] != '0' and values[4] != '0':
        df_gasto_edu_esp = df_gasto_edu_esp.append({'FECHA' : values[0] , 'EDU_GASTO_TOTAL' : values[1], 'EDU_GASTO_PIB_PORCENTAJE' : values[4]} , ignore_index=True)
    i = i + 1

In [14]:
df_gasto_edu_esp[['EDU_GASTO_TOTAL', 'EDU_GASTO_PIB_PORCENTAJE']] = df_gasto_edu_esp[['EDU_GASTO_TOTAL', 'EDU_GASTO_PIB_PORCENTAJE']].astype(float)
df_gasto_edu_esp['FECHA'] = pd.to_datetime(df_gasto_edu_esp.FECHA)
df_gasto_edu_esp['FECHA'] = df_gasto_edu_esp['FECHA'].dt.year
# df_gasto_edu_esp.to_excel('Datos/ESP/gasto_educacion.xlsx', index=False)
df_gasto_edu_esp

    FECHA  EDU_GASTO_TOTAL  EDU_GASTO_PIB_PORCENTAJE
0    2018          50274.1                      4.18
1    2017          48888.8                      4.21
2    2016          47089.1                      4.23
3    2015          46191.6                      4.29
4    2014          44417.7                      4.30
5    2013          44395.5                      4.35
6    2012          46789.6                      4.55
7    2011          50828.6                      4.86
8    2010          52721.0                      5.03
9    2009          53092.2                      5.07
10   2008          50880.4                      4.68
11   2007          46459.3                      4.41
12   2006          42512.6                      4.30
13   2005          39122.9                      4.29
14   2004          37268.5                      4.39
15   2003          34349.6                      4.34
16   2002          31633.0                      4.31
17   2001          29237.2                      4.29
18   2000          27407.0                      4.35
19   1999          25380.4                      4.26
20   1998          23840.2                      4.29
21   1996          21806.0                      4.46
22   1995          20369.9                      4.43
23   1994          19063.9                      4.48
24   1993          18080.5                      4.24
25   1992          17776.1                      3.84
26   1991          16605.4                      3.74
27   1990          14595.6                      3.63
28   1989          12711.2                      3.55
29   1988          10073.9                      3.33
30   1987           8231.4                      3.13
31   1979           2041.0                      2.34
32   1978           1664.6                      2.23
33   1977           1266.2                      2.08
34   1976            912.6                      1.90
35   1974            496.4                      1.46
36   1972            475.3                      2.06
37   1971            370.6                      1.89
38   1970            318.7                      1.83

## Gasto p√∫blico en salud

In [15]:
url="https://datosmacro.expansion.com/estado/gasto/salud/espana"

# Make a GET request to fetch the raw HTML content
html_content = requests.get(url).text

# Parse the html content
soup = BeautifulSoup(html_content, "lxml")

In [16]:
tablas = soup.find_all('table')

tr = tablas[0].tbody.find_all("tr")
df_gasto_salud_esp = pd.DataFrame(columns = ['FECHA' , 'SALUD_GASTO_TOTAL', 'SALUD_GASTO_PORCENTAJE_PIB'])
i = 0
for i in range(len(tr)):
    values = []
    for td in tr[i].find_all("td"):
        values.append(td.get("data-value"))
    if values[0] != '0' and values[2] != '0' and values[5] != '0':
        df_gasto_salud_esp = df_gasto_salud_esp.append({'FECHA' : values[0] , 'SALUD_GASTO_TOTAL' : values[2], 'SALUD_GASTO_PORCENTAJE_PIB' : values[5]} , ignore_index=True)
    i = i + 1

In [17]:
df_gasto_salud_esp[['SALUD_GASTO_TOTAL', 'SALUD_GASTO_PORCENTAJE_PIB']] = df_gasto_salud_esp[['SALUD_GASTO_TOTAL', 'SALUD_GASTO_PORCENTAJE_PIB']].astype(float)
df_gasto_salud_esp['FECHA'] = pd.to_datetime(df_gasto_salud_esp.FECHA)
df_gasto_salud_esp['FECHA'] = df_gasto_salud_esp['FECHA'].dt.year
# df_gasto_salud_esp.to_excel('Datos/ESP/gasto_salud.xlsx', index=False)
df_gasto_salud_esp

    FECHA  SALUD_GASTO_TOTAL  SALUD_GASTO_PORCENTAJE_PIB
0    2019            80276.2                        6.45
1    2018            76082.7                        6.32
2    2017            73401.0                        6.32
3    2016            71343.3                        6.41
4    2015            70133.3                        6.51
5    2014            65918.8                        6.39
6    2013            65689.0                        6.44
7    2012            68076.6                        6.60
8    2011            71663.4                        6.74
9    2010            72808.5                        6.79
10   2009            73097.1                        6.84
11   2008            68142.8                        6.14
12   2007            61566.0                        5.72
13   2006            56652.7                        5.64
14   2005            51298.1                        5.53
15   2004            46959.2                        5.46
16   2003            43141.5                        5.38
17   2002            36211.8                        4.83
18   2001            33703.4                        4.81
19   2000            31432.3                        4.85
20   1999            29521.2                        4.96
21   1998            27556.5                        4.96
22   1997            26008.5                        5.01
23   1996            24902.1                        5.09
24   1995            23322.1                        5.06
25   1994            22179.3                        5.19
26   1993            21281.7                        5.30
27   1992            19890.9                        5.12
28   1991            17426.0                        4.84
29   1990            15672.5                        4.77
30   1989            13198.1                        4.47
31   1988            11712.0                        4.45
32   1987             9505.6                        4.02
33   1986             8398.1                        3.97
34   1985             7481.5                        4.05
35   1984             7014.1                        4.22
36   1983             6684.7                        4.54
37   1982             5319.6                        4.11
38   1981             4507.6                        4.01
39   1980             3972.9                        3.96
40   1979             3355.9                        3.88
41   1978             2884.0                        3.90
42   1977             2238.1                        3.70
43   1976             1624.4                        3.41
44   1975             1272.3                        3.21
45   1974              975.0                        2.89
46   1973              773.9                        2.81
47   1972              578.1                        2.53
48   1971              441.9                        2.27
49   1970              346.1                        2.01

## Gasto p√∫blico en defensa

In [18]:
url="https://datosmacro.expansion.com/estado/gasto/defensa/espana"

# Make a GET request to fetch the raw HTML content
html_content = requests.get(url).text

# Parse the html content
soup = BeautifulSoup(html_content, "lxml")

In [19]:
tablas = soup.find_all('table')

tr = tablas[0].tbody.find_all("tr")
df_gasto_def_esp = pd.DataFrame(columns = ['FECHA' , 'DEF_GASTO_TOTAL', 'DEF_GASTO_PORCENTAJE_PIB'])
i = 0
for i in range(len(tr)):
    values = []
    for td in tr[i].find_all("td"):
        values.append(td.get("data-value"))
    if values[0] != '0' and values[1] != '0' and values[4] != '0':
        df_gasto_def_esp = df_gasto_def_esp.append({'FECHA' : values[0] , 'DEF_GASTO_TOTAL' : values[1], 'DEF_GASTO_PORCENTAJE_PIB' : values[4]} , ignore_index=True)
    i = i + 1

In [20]:
df_gasto_def_esp[['DEF_GASTO_TOTAL', 'DEF_GASTO_PORCENTAJE_PIB']] = df_gasto_def_esp[['DEF_GASTO_TOTAL', 'DEF_GASTO_PORCENTAJE_PIB']].astype(float)
df_gasto_def_esp['FECHA'] = pd.to_datetime(df_gasto_def_esp.FECHA)
df_gasto_def_esp['FECHA'] = df_gasto_def_esp['FECHA'].dt.year
# df_gasto_def_esp.to_excel('Datos/ESP/gasto_defensa.xlsx', index=False)
df_gasto_def_esp

    FECHA  DEF_GASTO_TOTAL  DEF_GASTO_PORCENTAJE_PIB
0    2020          15730.3                      1.40
1    2019          15348.6                      1.23
2    2018          15088.1                      1.25
3    2017          14299.0                      1.23
4    2016          12672.5                      1.14
..    ...              ...                       ...
56   1964            144.5                      1.93
57   1963            118.2                      1.97
58   1962            115.3                      2.27
59   1961             89.4                      2.03
60   1960             87.0                      2.25

[61 rows x 3 columns]

## SMI

In [21]:
df_smi_esp = pd.read_csv('Datos/ESP/ext_manual/smi.csv')
df_smi_esp[['SMI']] = df_smi_esp[['SMI']].astype(float)
df_smi_esp

    FECHA     SMI
0    1970   21.64
1    1975   50.49
2    1976   62.20
3    1977   79.33
4    1978   98.81
5    1978  108.18
6    1979  115.39
7    1979  124.41
8    1980  136.85
9    1981  153.98
10   1982  170.93
11   1983  193.29
12   1984  208.79
13   1985  223.40
14   1986  241.25
15   1987  253.33
16   1988  264.69
17   1989  280.56
18   1990  300.57
19   1991  320.04
20   1992  338.28
21   1993  351.77
22   1994  364.03
23   1995  376.83
24   1996  390.18
25   1997  400.50
26   1998  408.93
27   1999  416.32
28   2000  424.80
29   2001  433.45
30   2002  442.20
31   2003  451.00
32   2004  460.50
33   2005  513.00
34   2006  540.90
35   2007  570.60
36   2008  600.00
37   2009  624.00
38   2010  633.30
39   2011  641.40
40   2012  641.40
41   2013  645.30
42   2014  645.30
43   2015  648.60
44   2016  655.20
45   2017  707.70
46   2018  735.90
47   2019  900.00
48   2020  950.00
49   2021  965.00

In [22]:
# df_smi_esp.to_excel('Datos/ESP/smi_esp.xlsx', index=False)

## IPC

In [23]:
df_ipc = pd.read_csv('Datos/ESP/ext_manual/ipc.csv')
df_ipc[['IPC']] = df_ipc[['IPC']].astype(float)
df_ipc

    FECHA        IPC
0    1962   5.708333
1    1963   8.791667
2    1964   6.941667
3    1965  13.325000
4    1966   6.258333
5    1967   6.391667
6    1968   4.975000
7    1969   2.158333
8    1970   5.725000
9    1971   8.250000
10   1972   8.275000
11   1973  11.375000
12   1974  15.650000
13   1975  17.025000
14   1976  17.575000
15   1977  24.441667
16   1978  19.991667
17   1979  15.683333
18   1980  15.591667
19   1981  14.550000
20   1982  14.425000
21   1983  12.183333
22   1984  11.308333
23   1985   8.833333
24   1986   8.800000
25   1987   5.266667
26   1988   4.850000
27   1989   6.791667
28   1990   6.733333
29   1991   5.941667
30   1992   5.941667
31   1993   4.566667
32   1994   4.725000
33   1995   4.675000
34   1996   3.566667
35   1997   1.975000
36   1998   1.841667
37   1999   2.291667
38   2000   3.441667
39   2001   3.600000
40   2002   3.525000
41   2003   3.033333
42   2004   3.025000
43   2005   3.366667
44   2006   3.525000
45   2007   2.783333
46   2008   4.091667
47   2009  -0.291667
48   2010   1.783333
49   2011   3.208333
50   2012   2.450000
51   2013   1.425000
52   2014  -0.141667
53   2015  -0.500000
54   2016  -0.191667
55   2017   1.966667
56   2018   1.691667
57   2019   0.691667
58   2020  -0.308333
59   2021   2.177778

In [24]:
# df_ipc.to_excel('Datos/ESP/ipc.xlsx', index=False)

## Tasa de desempleo

In [25]:
df_desempleo = pd.read_csv('Datos/ESP/ext_manual/desempleo.csv')
df_desempleo[['TASA_DESEMPLEO']] = df_desempleo[['TASA_DESEMPLEO']].astype(float)
df_desempleo

    FECHA  TASA_DESEMPLEO
0    2021       20.355556
1    2020       19.725000
2    2019       18.675000
3    2018       16.550000
4    2017       15.483333
5    2016       15.516667
6    2015       17.066667
7    2014       20.833333
8    2013       22.050000
9    2012       20.791667
10   2011       19.908333
11   2010       18.400000
12   2009       16.408333
13   2008       13.600000
14   2007       11.916667
15   2006       10.575000
16   2005       11.466667
17   2004       11.491667
18   2003       10.975000
19   2002        9.158333
20   2001        8.441667
21   2000        8.250000
22   1999       11.266667
23   1998       17.883333
24   1997       19.866667
25   1996       21.408333
26   1995       24.825000
27   1994       26.108333
28   1993       24.450000
29   1992       22.058333
30   1991       19.633333
31   1990       17.233333
32   1989       15.250000
33   1988       14.125000
34   1987       15.541667
35   1986       15.162500

In [26]:
# df_desempleo.to_excel('Datos/ESP/desempleo.xlsx', index=False)

## Salario medio

In [27]:
url="https://datosmacro.expansion.com/mercado-laboral/salario-medio/espana"

# Make a GET request to fetch the raw HTML content
html_content = requests.get(url).text

# Parse the html content
soup = BeautifulSoup(html_content, "lxml")

In [28]:
tablas = soup.find_all('table')

tr = tablas[0].tbody.find_all("tr")
df_salario_medio_esp = pd.DataFrame(columns = ['FECHA' , 'SALARIO'])
i = 0
for i in range(len(tr)):
    values = []
    for td in tr[i].find_all("td"):
        values.append(td.get("data-value"))
    if values[0] != '0' and values[1] != '0':
        df_salario_medio_esp = df_salario_medio_esp.append({'FECHA' : values[0] , 'SALARIO' : values[1]} , ignore_index=True)
    i = i + 1

In [29]:
df_salario_medio_esp[['SALARIO']] = df_salario_medio_esp[['SALARIO']].astype(float)
df_salario_medio_esp['FECHA'] = pd.to_datetime(df_salario_medio_esp.FECHA)
df_salario_medio_esp['FECHA'] = df_salario_medio_esp['FECHA'].dt.year
# df_salario_medio_esp.to_excel('Datos/ESP/salario_medio.xlsx', index=False)
df_salario_medio_esp

    FECHA  SALARIO
0    2020  26934.0
1    2019  27537.0
2    2018  26922.0
3    2017  26550.0
4    2016  26449.0
5    2015  26475.0
6    2014  26191.0
7    2013  26027.0
8    2012  25894.0
9    2011  25515.0
10   2010  24786.0
11   2009  24164.0
12   2008  23252.0
13   2007  21989.0
14   2006  21168.0
15   2005  20616.0
16   2004  20045.0
17   2003  19385.0
18   2002  18601.0
19   2001  17919.0
20   2000  17319.0

## Indice corrupci√≥n

In [30]:
url="https://datosmacro.expansion.com/estado/indice-percepcion-corrupcion/espana"

# Make a GET request to fetch the raw HTML content
html_content = requests.get(url).text

# Parse the html content
soup = BeautifulSoup(html_content, "lxml")

In [31]:
tablas = soup.find_all('table')

tr = tablas[0].tbody.find_all("tr")
df_corrupcion_esp = pd.DataFrame(columns = ['FECHA' , 'INDICE_CORRUPCION'])
i = 0
for i in range(len(tr)):
    values = []
    for td in tr[i].find_all("td"):
        values.append(td.get("data-value"))
    if values[0] != '0' and values[1] != '0':
        df_corrupcion_esp = df_corrupcion_esp.append({'FECHA' : values[0] , 'INDICE_CORRUPCION' : values[1]} , ignore_index=True)
    i = i + 1

In [32]:
df_corrupcion_esp[['INDICE_CORRUPCION']] = df_corrupcion_esp[['INDICE_CORRUPCION']].astype(float)
df_corrupcion_esp['FECHA'] = pd.to_datetime(df_corrupcion_esp.FECHA)
df_corrupcion_esp['FECHA'] = df_corrupcion_esp['FECHA'].dt.year
# df_corrupcion_esp.to_excel('Datos/ESP/corrupcion.xlsx', index=False)
df_corrupcion_esp

    FECHA  INDICE_CORRUPCION
0    2020               32.0
1    2019               30.0
2    2018               41.0
3    2017               42.0
4    2016               41.0
5    2015               37.0
6    2014               38.0
7    2013               40.0
8    2012               30.0
9    2011               31.0
10   2010               30.0
11   2009               32.0
12   2008               28.0
13   2007               25.0
14   2006               23.0
15   2005               23.0
16   2004               22.0
17   2003               23.0
18   2002               20.0
19   2001               22.0
20   2000               20.0
21   1999               22.0
22   1998               23.0
23   1997               24.0
24   1996               32.0
25   1995               26.0

## Comercio

In [33]:
url="https://datosmacro.expansion.com/comercio/exportaciones/espana"

# Make a GET request to fetch the raw HTML content
html_content = requests.get(url).text

# Parse the html content
soup = BeautifulSoup(html_content, "lxml")

In [34]:
tablas = soup.find_all('table')

tr = tablas[0].tbody.find_all("tr")
df_export_esp = pd.DataFrame(columns = ['FECHA' , 'EXPORTACIONES', 'EXPORT_PORCENTAJE_PIB'])
i = 0
for i in range(len(tr)):
    values = []
    for td in tr[i].find_all("td"):
        values.append(td.get("data-value"))
    if values[0] != '0' and values[1] != '0' and values[3] != '0':
        df_export_esp = df_export_esp.append({'FECHA' : values[0] , 'EXPORTACIONES' : values[1], 'EXPORT_PORCENTAJE_PIB' : values[3]} , ignore_index=True)
    i = i + 1

In [35]:
df_export_esp[['EXPORTACIONES','EXPORT_PORCENTAJE_PIB']] = df_export_esp[['EXPORTACIONES','EXPORT_PORCENTAJE_PIB']].astype(float)
df_export_esp['FECHA'] = pd.to_datetime(df_export_esp.FECHA)
df_export_esp['FECHA'] = df_export_esp['FECHA'].dt.year
# df_export_esp.to_excel('Datos/ESP/exportaciones.xlsx', index=False)
df_export_esp

    FECHA  EXPORTACIONES  EXPORT_PORCENTAJE_PIB
0    2020       269521.0                  24.14
1    2019       298337.0                  23.97
2    2018       293458.8                  24.39
3    2017       283094.6                  24.37
4    2016       262041.3                  23.53
5    2015       254599.4                  23.63
6    2014       244287.2                  23.67
7    2013       239314.3                  23.45
8    2012       229802.3                  22.29
9    2011       220223.3                  20.70
10   2010       191911.9                  17.89
11   2009       162990.0                  15.24
12   2008       191387.8                  17.25
13   2007       184821.1                  17.18
14   2006       170210.9                  16.96
15   2005       154846.4                  16.70
16   2004       146814.7                  17.08
17   2003       138036.2                  17.21
18   2002       132917.9                  17.73
19   2001       130258.0                  18.58
20   2000       124784.0                  19.26
21   1999        97985.0                  16.45
22   1998        99879.0                  17.96
23   1997        88847.0                  17.11
24   1996        84460.0                  17.26
25   1995        74807.0                  16.29
26   1994        64477.0                  15.17
27   1993        55169.0                  12.95
28   1992        53032.0                  11.45
29   1991        51039.0                  11.50
30   1990        46220.0                  11.51

In [36]:
url="https://datosmacro.expansion.com/comercio/importaciones/espana"

# Make a GET request to fetch the raw HTML content
html_content = requests.get(url).text

# Parse the html content
soup = BeautifulSoup(html_content, "lxml")

In [37]:
tablas = soup.find_all('table')

tr = tablas[0].tbody.find_all("tr")
df_import_esp = pd.DataFrame(columns = ['FECHA' , 'IMPORTACIONES', 'IMPORT_PORCENTAJE_PIB'])
i = 0
for i in range(len(tr)):
    values = []
    for td in tr[i].find_all("td"):
        values.append(td.get("data-value"))
    if values[0] != '0' and values[1] != '0' and values[3] != '0':
        df_import_esp = df_import_esp.append({'FECHA' : values[0] , 'IMPORTACIONES' : values[1], 'IMPORT_PORCENTAJE_PIB' : values[3]} , ignore_index=True)
    i = i + 1

In [38]:
df_import_esp[['IMPORTACIONES','IMPORT_PORCENTAJE_PIB']] = df_import_esp[['IMPORTACIONES','IMPORT_PORCENTAJE_PIB']].astype(float)
df_import_esp['FECHA'] = pd.to_datetime(df_import_esp.FECHA)
df_import_esp['FECHA'] = df_import_esp['FECHA'].dt.year
# df_import_esp.to_excel('Datos/ESP/importaciones.xlsx', index=False)
df_import_esp

    FECHA  IMPORTACIONES  IMPORT_PORCENTAJE_PIB
0    2020       285215.4                  25.63
1    2019       332958.5                  26.76
2    2018       330635.8                  27.48
3    2017       311651.2                  26.82
4    2016       281056.8                  25.23
5    2015       281222.1                  26.10
6    2014       270172.6                  26.18
7    2013       256455.1                  25.13
8    2012       262561.1                  25.46
9    2011       270550.3                  25.43
10   2010       246673.9                  23.00
11   2009       210222.0                  19.66
12   2008       286104.9                  25.79
13   2007       284057.8                  26.41
14   2006       261784.2                  26.08
15   2005       232124.2                  25.03
16   2004       207678.2                  24.16
17   2003       184408.0                  22.99
18   2002       174603.3                  23.29
19   2001       172677.0                  24.63
20   2000       169059.0                  26.10
21   1999       126990.0                  21.32
22   1998       121901.0                  21.92
23   1997       101998.0                  19.64
24   1996        95469.0                  19.52
25   1995        86802.0                  18.90
26   1994        74705.0                  17.57
27   1993        66204.0                  15.54
28   1992        74862.0                  16.16
29   1991        72480.0                  16.33
30   1990        66220.0                  16.49

In [39]:
url="https://datosmacro.expansion.com/comercio/balanza/espana"

# Make a GET request to fetch the raw HTML content
html_content = requests.get(url).text

# Parse the html content
soup = BeautifulSoup(html_content, "lxml")

In [40]:
tablas = soup.find_all('table')

tr = tablas[0].tbody.find_all("tr")
df_balanza_esp = pd.DataFrame(columns = ['FECHA' , 'BALANZA_COMERCIO', 'BALANZA_PIB_PORCENTAJE'])
i = 0
for i in range(len(tr)):
    values = []
    for td in tr[i].find_all("td"):
        values.append(td.get("data-value"))
    if values[0] != '0' and values[1] != '0' and values[4] != '0':
        df_balanza_esp = df_balanza_esp.append({'FECHA' : values[0] , 'BALANZA_COMERCIO' : values[1], 'BALANZA_PIB_PORCENTAJE' : values[4]} , ignore_index=True)
    i = i + 1

In [41]:
df_balanza_esp[['BALANZA_COMERCIO','BALANZA_PIB_PORCENTAJE']] = df_balanza_esp[['BALANZA_COMERCIO','BALANZA_PIB_PORCENTAJE']].astype(float)
df_balanza_esp['FECHA'] = pd.to_datetime(df_balanza_esp.FECHA)
df_balanza_esp['FECHA'] = df_balanza_esp['FECHA'].dt.year
# df_balanza_esp.to_excel('Datos/ESP/balanza.xlsx', index=False)
df_balanza_esp

    FECHA  BALANZA_COMERCIO  BALANZA_PIB_PORCENTAJE
0    2020          -15694.4                   -1.49
1    2019          -34621.6                   -2.78
2    2018          -37177.1                   -3.09
3    2017          -28556.6                   -2.46
4    2016          -19015.5                   -1.71
5    2015          -26622.7                   -2.47
6    2014          -25885.4                   -2.51
7    2013          -17140.8                   -1.68
8    2012          -32758.8                   -3.18
9    2011          -50327.0                   -4.73
10   2010          -54762.0                   -5.11
11   2009          -47232.1                   -4.42
12   2008          -94717.1                   -8.54
13   2007          -99236.7                   -9.23
14   2006          -91573.3                   -9.12
15   2005          -77277.8                   -8.33
16   2004          -60863.4                   -7.08
17   2003          -46371.9                   -5.78
18   2002          -41685.4                   -5.56
19   2001          -42419.0                   -6.05
20   2000          -44274.0                   -6.83
21   1999          -29004.0                   -4.87
22   1998          -22022.0                   -3.96
23   1997          -13151.0                   -2.53
24   1996          -11008.0                   -2.25
25   1995          -11994.0                   -2.61
26   1994          -10228.0                   -2.41
27   1993          -11035.0                   -2.59
28   1992          -21830.0                   -4.71
29   1991          -21441.0                   -4.83
30   1990          -19999.0                   -4.98

## Natalidad

In [42]:
url="https://datosmacro.expansion.com/demografia/natalidad/espana"

# Make a GET request to fetch the raw HTML content
html_content = requests.get(url).text

# Parse the html content
soup = BeautifulSoup(html_content, "lxml")

In [43]:
tablas = soup.find_all('table')

tr = tablas[0].tbody.find_all("tr")
df_natalidad_esp = pd.DataFrame(columns = ['FECHA' , 'NACIDOS', 'NACIDOS_HOMBRES','NACIDOS_MUJERES','IND_FECUNDACION'])
i = 0
for i in range(len(tr)):
    values = []
    for td in tr[i].find_all("td"):
        values.append(td.get("data-value"))
    if values[0] != '0' and values[1] != '0' and values[2] != '0' and values[3] != '0' and values[4] != '0':
        df_natalidad_esp = df_natalidad_esp.append({'FECHA' : values[0] , 'NACIDOS' : values[1], 'NACIDOS_HOMBRES' : values[2], 'NACIDOS_MUJERES' : values[3], 'IND_FECUNDACION' : values[4]} , ignore_index=True)
    i = i + 1

In [44]:
df_natalidad_esp[['NACIDOS','NACIDOS_HOMBRES','NACIDOS_MUJERES','IND_FECUNDACION']] = df_natalidad_esp[['NACIDOS','NACIDOS_HOMBRES','NACIDOS_MUJERES','IND_FECUNDACION']].astype(float)
df_natalidad_esp['FECHA'] = pd.to_datetime(df_natalidad_esp.FECHA)
df_natalidad_esp['FECHA'] = df_natalidad_esp['FECHA'].dt.year
# df_natalidad_esp.to_excel('Datos/ESP/natalidad.xlsx', index=False)
df_natalidad_esp

    FECHA   NACIDOS  NACIDOS_HOMBRES  NACIDOS_MUJERES  IND_FECUNDACION
0    2020  339206.0         173796.0         165410.0             7.19
1    2019  360617.0         185523.0         175094.0             7.62
2    2018  372777.0         191569.0         181208.0             7.94
3    2017  393181.0         202478.0         190703.0             8.41
4    2016  410583.0         211087.0         199496.0             8.80
..    ...       ...              ...              ...              ...
56   1964  697697.0         358304.0         339393.0            22.00
57   1963  671520.0         345299.0         326221.0            21.40
58   1962  658816.0         338813.0         320003.0            21.10
59   1961  654616.0         336867.0         317749.0            21.20
60   1960  663375.0         341715.0         321660.0            21.70

[61 rows x 5 columns]

## Mortalidad

In [45]:
url="https://datosmacro.expansion.com/demografia/mortalidad/espana"

# Make a GET request to fetch the raw HTML content
html_content = requests.get(url).text

# Parse the html content
soup = BeautifulSoup(html_content, "lxml")

In [46]:
tablas = soup.find_all('table')

tr = tablas[0].tbody.find_all("tr")
df_mortalidad_esp = pd.DataFrame(columns = ['FECHA' , 'MUERTES', 'MUERTES_HOMBRES','MUERTES_MUJERES','TASA_MORTALIDAD'])
i = 0
for i in range(len(tr)):
    values = []
    for td in tr[i].find_all("td"):
        values.append(td.get("data-value"))
    if values[0] != '0' and values[1] != '0' and values[2] != '0' and values[3] != '0' and values[4] != '0':
        df_mortalidad_esp = df_mortalidad_esp.append({'FECHA' : values[0] , 'MUERTES' : values[1], 'MUERTES_HOMBRES' : values[2], 'MUERTES_MUJERES' : values[3], 'TASA_MORTALIDAD' : values[4]} , ignore_index=True)
    i = i + 1

In [47]:
df_mortalidad_esp[['MUERTES', 'MUERTES_HOMBRES','MUERTES_MUJERES','TASA_MORTALIDAD']] = df_mortalidad_esp[['MUERTES', 'MUERTES_HOMBRES','MUERTES_MUJERES','TASA_MORTALIDAD']].astype(float)
df_mortalidad_esp['FECHA'] = pd.to_datetime(df_mortalidad_esp.FECHA)
df_mortalidad_esp['FECHA'] = df_mortalidad_esp['FECHA'].dt.year
# df_mortalidad_esp.to_excel('Datos/ESP/mortalidad.xlsx', index=False)
df_mortalidad_esp

    FECHA   MUERTES  MUERTES_HOMBRES  MUERTES_MUJERES  TASA_MORTALIDAD
0    2020  493776.0         249664.0         244112.0            10.40
1    2019  418703.0         212683.0         206020.0             8.83
2    2018  427721.0         216442.0         211279.0             9.10
3    2017  424523.0         214236.0         210287.0             9.07
4    2016  410611.0         208993.0         201618.0             8.79
..    ...       ...              ...              ...              ...
56   1964  267045.0         137747.0         129298.0             8.40
57   1963  275489.0         140703.0         134786.0             8.80
58   1962  271373.0         138153.0         133220.0             8.70
59   1961  256394.0         130005.0         126389.0             8.30
60   1960  262260.0         133201.0         129059.0             8.60

[61 rows x 5 columns]

## Poblaci√≥n

In [48]:
url="https://datosmacro.expansion.com/demografia/poblacion/espana"

# Make a GET request to fetch the raw HTML content
html_content = requests.get(url).text

# Parse the html content
soup = BeautifulSoup(html_content, "lxml")

In [49]:
tablas = soup.find_all('table')

tr = tablas[0].tbody.find_all("tr")
df_poblacion_esp = pd.DataFrame(columns = ['FECHA' , 'DENSIDAD', 'HOMBRES_POB','MUJERES_POB','POBLACION_TOTAL'])
i = 0
for i in range(len(tr)):
    values = []
    for td in tr[i].find_all("td"):
        values.append(td.get("data-value"))
    if values[0] != '0' and values[1] != '0' and values[2] != '0' and values[3] != '0' and values[4] != '0':
        df_poblacion_esp = df_poblacion_esp.append({'FECHA' : values[0] , 'DENSIDAD' : values[1], 'HOMBRES_POB' : values[2], 'MUJERES_POB' : values[3], 'POBLACION_TOTAL' : values[4]} , ignore_index=True)
    i = i + 1

In [50]:
df_poblacion_esp[['DENSIDAD', 'HOMBRES_POB','MUJERES_POB','POBLACION_TOTAL']] = df_poblacion_esp[['DENSIDAD', 'HOMBRES_POB','MUJERES_POB','POBLACION_TOTAL']].astype(float)
df_poblacion_esp['FECHA'] = pd.to_datetime(df_poblacion_esp.FECHA)
df_poblacion_esp['FECHA'] = df_poblacion_esp['FECHA'].dt.year
# df_poblacion_esp.to_excel('Datos/ESP/poblacion.xlsx', index=False)
df_poblacion_esp

    FECHA  DENSIDAD  HOMBRES_POB  MUJERES_POB  POBLACION_TOTAL
0    2021      94.0   23188901.0   24137787.0       47326687.0
1    2020      94.0   23227282.0   24171413.0       47398695.0
2    2020      94.0   23208782.0   24146903.0       47355685.0
3    2019      94.0   23199313.0   24133301.0       47332614.0
4    2019      93.0   23091898.0   24013460.0       47105358.0
..    ...       ...          ...          ...              ...
95   1973      70.0   17220063.0   17957230.0       35177294.0
96   1973      69.0   17119603.0   17860714.0       34980317.0
97   1972      69.0   17027972.0   17772628.0       34800600.0
98   1972      68.0   16923533.0   17672353.0       34595886.0
99   1971      68.0   16827942.0   17580397.0       34408338.0

[100 rows x 5 columns]

## Riesgo de pobreza

In [51]:
url="https://datosmacro.expansion.com/demografia/riesgo-pobreza/espana"

# Make a GET request to fetch the raw HTML content
html_content = requests.get(url).text

# Parse the html content
soup = BeautifulSoup(html_content, "lxml")

In [52]:
tablas = soup.find_all('table')

tr = tablas[0].tbody.find_all("tr")
df_pobreza_esp = pd.DataFrame(columns = ['FECHA' , 'RIESGO_POBREZA'])
i = 0
for i in range(len(tr)):
    values = []
    for td in tr[i].find_all("td"):
        values.append(td.get("data-value"))
    if values[0] != '0' and values[6] != '0':
        df_pobreza_esp = df_pobreza_esp.append({'FECHA' : values[0] , 'RIESGO_POBREZA' : values[6]} , ignore_index=True)
    i = i + 1

In [53]:
df_pobreza_esp[['RIESGO_POBREZA']] = df_pobreza_esp[['RIESGO_POBREZA']].astype(float)
df_pobreza_esp['FECHA'] = pd.to_datetime(df_pobreza_esp.FECHA)
df_pobreza_esp['FECHA'] = df_pobreza_esp['FECHA'].dt.year
# df_pobreza_esp.to_excel('Datos/ESP/pobreza.xlsx', index=False)
df_pobreza_esp

    FECHA  RIESGO_POBREZA
0    2020            21.0
1    2019            20.7
2    2018            21.5
3    2017            21.6
4    2016            22.3
5    2015            22.1
6    2014            22.2
7    2013            20.4
8    2012            20.8
9    2011            20.6
10   2010            20.7
11   2009            20.4
12   2008            19.8
13   2007            19.7
14   2006            20.3
15   2005            20.1
16   2004            20.1
17   2003            19.0
18   2002            19.0
19   2001            19.0
20   2000            18.0
21   1999            19.0
22   1998            18.0
23   1997            20.0
24   1996            18.0
25   1995            19.0

## Esperanza de vida

In [54]:
url="https://datosmacro.expansion.com/demografia/esperanza-vida/espana"

# Make a GET request to fetch the raw HTML content
html_content = requests.get(url).text

# Parse the html content
soup = BeautifulSoup(html_content, "lxml")

In [55]:
tablas = soup.find_all('table')

tr = tablas[0].tbody.find_all("tr")
df_vida_esp = pd.DataFrame(columns = ['FECHA' , 'ESP_MUJERES', 'ESP_HOMBRES', 'ESPERANZA_VIDA'])
i = 0
for i in range(len(tr)):
    values = []
    for td in tr[i].find_all("td"):
        values.append(td.get("data-value"))
    if values[0] != '0' and values[1] != '0' and values[2] != '0' and values[3] != '0':
        df_vida_esp = df_vida_esp.append({'FECHA' : values[0] , 'ESP_MUJERES' : values[1], 'ESP_HOMBRES' : values[2], 'ESPERANZA_VIDA' : values[3]} , ignore_index=True)
    i = i + 1

In [56]:
df_vida_esp[['ESP_MUJERES', 'ESP_HOMBRES', 'ESPERANZA_VIDA']] = df_vida_esp[['ESP_MUJERES', 'ESP_HOMBRES', 'ESPERANZA_VIDA']].astype(float)
df_vida_esp['FECHA'] = pd.to_datetime(df_vida_esp.FECHA)
df_vida_esp['FECHA'] = df_vida_esp['FECHA'].dt.year
# df_vida_esp.to_excel('Datos/ESP/esperanza_vida.xlsx', index=False)
df_vida_esp

    FECHA  ESP_MUJERES  ESP_HOMBRES  ESPERANZA_VIDA
0    2020        85.06        79.59           82.33
1    2019        86.22        80.86           83.58
2    2018        85.85        80.46           83.19
3    2017        85.73        80.37           83.09
4    2016        85.84        80.31           83.11
..    ...          ...          ...             ...
56   1964        73.14        67.79           70.40
57   1963        72.36        67.13           69.68
58   1962        72.08        67.08           69.52
59   1961        71.98        67.10           69.48
60   1960        71.66        66.68           69.11

[61 rows x 4 columns]

## √çndice desarrollo humano

In [57]:
url="https://datosmacro.expansion.com/idh/espana"

# Make a GET request to fetch the raw HTML content
html_content = requests.get(url).text

# Parse the html content
soup = BeautifulSoup(html_content, "lxml")

In [58]:
tablas = soup.find_all('table')

tr = tablas[0].tbody.find_all("tr")
df_idh_esp = pd.DataFrame(columns = ['FECHA' , 'IDH'])
i = 0
for i in range(len(tr)):
    values = []
    for td in tr[i].find_all("td"):
        values.append(td.get("data-value"))
    if values[0] != '0' and values[1] != '0':
        df_idh_esp = df_idh_esp.append({'FECHA' : values[0] , 'IDH' : values[1]} , ignore_index=True)
    i = i + 1

In [59]:
df_idh_esp[['IDH']] = df_idh_esp[['IDH']].astype(float)
df_idh_esp['FECHA'] = pd.to_datetime(df_idh_esp.FECHA)
df_idh_esp['FECHA'] = df_idh_esp['FECHA'].dt.year
# df_idh_esp.to_excel('Datos/ESP/idh.xlsx', index=False)
df_idh_esp

    FECHA    IDH
0    2019  0.904
1    2018  0.905
2    2017  0.903
3    2016  0.899
4    2015  0.895
5    2014  0.888
6    2013  0.882
7    2012  0.881
8    2011  0.878
9    2010  0.872
10   2009  0.865
11   2008  0.863
12   2007  0.860
13   2006  0.856
14   2005  0.851
15   2004  0.844
16   2003  0.840
17   2002  0.837
18   2001  0.835
19   2000  0.832
20   1999  0.826
21   1998  0.821
22   1997  0.817
23   1996  0.813
24   1995  0.807
25   1994  0.798
26   1993  0.789
27   1992  0.779
28   1991  0.770
29   1990  0.761

## Suicidios

In [60]:
url="https://datosmacro.expansion.com/demografia/mortalidad/causas-muerte/suicidio/espana"

# Make a GET request to fetch the raw HTML content
html_content = requests.get(url).text

# Parse the html content
soup = BeautifulSoup(html_content, "lxml")

In [61]:
tablas = soup.find_all('table')

tr = tablas[0].tbody.find_all("tr")
df_suicidio_esp = pd.DataFrame(columns = ['FECHA' , 'S_MUJERES','S_HOMBRES','SUICIDIOS','TASA_S_MUJERES','TASA_S_HOMBRES','SUICIDIOS_POR_100K'])
i = 0
for i in range(len(tr)):
    values = []
    for td in tr[i].find_all("td"):
        values.append(td.get("data-value"))
    if values[0] != '0' and values[1] != '0' and values[2] != '0' and values[3] != '0' and values[4] != '0' and values[5] != '0' and values[6] != '0':
        df_suicidio_esp = df_suicidio_esp.append({'FECHA' : values[0] , 'S_MUJERES' : values[1], 'S_HOMBRES' : values[2], 'SUICIDIOS' : values[3], 'TASA_S_MUJERES' : values[4], 'TASA_S_HOMBRES' : values[5], 'SUICIDIOS_POR_100K' : values[6]} , ignore_index=True)
    i = i + 1

In [62]:
df_suicidio_esp[['S_MUJERES','S_HOMBRES','SUICIDIOS','TASA_S_MUJERES','TASA_S_HOMBRES','SUICIDIOS_POR_100K']] = df_suicidio_esp[['S_MUJERES','S_HOMBRES','SUICIDIOS','TASA_S_MUJERES','TASA_S_HOMBRES','SUICIDIOS_POR_100K']].astype(float)
df_suicidio_esp['FECHA'] = pd.to_datetime(df_suicidio_esp.FECHA)
df_suicidio_esp['FECHA'] = df_suicidio_esp['FECHA'].dt.year
# df_suicidio_esp.to_excel('Datos/ESP/suicidio.xlsx', index=False)
df_suicidio_esp

,FECHA,S_MUJERES,S_HOMBRES,SUICIDIOS,TASA_S_MUJERES,TASA_S_HOMBRES,SUICIDIOS_POR_100K
0,2020,1011.0,2930.0,3941.0,4.18,12.61,8.31
1,2019,900.0,2771.0,3671.0,3.73,11.94,7.76
2,2018,920.0,2619.0,3539.0,3.83,11.31,7.49
3,2017,961.0,2718.0,3679.0,4.03,11.73,7.81
4,2016,907.0,2662.0,3569.0,3.81,11.58,7.63
5,2015,922.0,2680.0,3602.0,3.91,11.75,7.76
6,2014,972.0,2938.0,3910.0,4.12,12.86,8.42
7,2013,959.0,2911.0,3870.0,4.05,12.69,8.31
8,2012,815.0,2724.0,3539.0,3.44,11.82,7.57
9,2011,745.0,2435.0,3180.0,3.18,10.74,6.89
10,2010,690.0,2468.0,3158.0,2.95,10.87,6.85
11,2009,763.0,2666.0,3429.0,3.28,11.76,7.47
12,2008,781.0,2676.0,3457.0,3.38,11.89,7.58
13,2007,800.0,2463.0,3263.0,3.52,11.12,7.27
14,2006,734.0,2512.0,3246.0,3.29,11.56,7.37
15,2005,829.0,2570.0,3399.0,3.76,12.03,7.83
16,2004,856.0,2651.0,3507.0,3.94,12.63,8.22
17,2003,828.0,2650.0,3478.0,3.87,12.85,8.28
18,2002,817.0,2554.0,3371.0,3.88,12.60,8.16
19,2001,759.0,2430.0,3189.0,3.66,12.18,7.83
20,2000,819.0,2574.0,3393.0,3.99,13.05,8.43
21,1999,808.0,2410.0,3218.0,3.97,12.33,8.06
22,1998,762.0,2499.0,3261.0,3.80,12.80,8.20
23,1997,847.0,2526.0,3373.0,4.20,13.00,8.50
24,1996,869.0,2451.0,3320.0,4.30,12.70,8.40
25,1995,749.0,2408.0,3157.0,3.70,12.50,8.00
26,1994,742.0,2429.0,3171.0,3.70,12.60,8.10
27,1993,754.0,2283.0,3037.0,3.80,11.80,7.70
28,1992,682.0,2104.0,2786.0,3.40,11.00,7.10
29,1991,777.0,2139.0,2916.0,3.90,11.20,7.50
30,1990,804.0,2135.0,2939.0,4.10,11.20,7.60
31,1989,774.0,2213.0,2987.0,3.90,11.60,7.70
32,1988,810.0,2150.0,2960.0,4.10,11.30,7.60
33,1987,787.0,2017.0,2804.0,4.00,10.60,7.20
34,1986,723.0,2032.0,2755.0,3.70,10.70,7.10
35,1985,685.0,1829.0,2514.0,3.50,9.70,6.50
36,1984,657.0,1836.0,2493.0,3.40,9.80,6.50
37,1983,588.0,1593.0,2181.0,3.00,8.50,5.70
38,1982,515.0,1336.0,1851.0,2.70,7.20,4.90
39,1981,450.0,1268.0,1718.0,2.30,6.80,4.50
40,1980,415.0,1237.0,1652.0,2.20,6.70,4.40
41,1979,395.0,1138.0,1533.0,2.10,6.20,4.10
42,1978,413.0,1094.0,1507.0,2.20,6.10,4.10
43,1977,397.0,1089.0,1486.0,2.10,6.10,4.10
44,1976,401.0,1073.0,1474.0,2.20,6.10,4.10
45,1975,355.0,1011.0,1366.0,1.90,5.80,3.80
46,1974,399.0,982.0,1381.0,2.20,5.70,3.90
47,1973,414.0,1043.0,1457.0,2.30,6.10,4.20
48,1972,400.0,1123.0,1523.0,2.30,6.60,4.40
49,1971,373.0,1100.0,1473.0,2.10,6.60,4.30
50,1969,366.0,1110.0,1476.0,2.10,6.80,4.40
51,1968,388.0,1025.0,1413.0,2.30,6.30,4.30
52,1967,385.0,1057.0,1442.0,2.30,6.60,4.40
53,1966,366.0,1114.0,1480.0,2.20,7.10,4.60
54,1965,404.0,1098.0,1502.0,2.50,7.00,4.70
55,1964,388.0,1159.0,1547.0,2.40,7.50,4.90
56,1963,413.0,1119.0,1532.0,2.60,7.30,4.90
57,1962,394.0,1105.0,1499.0,2.50,7.30,4.80
58,1961,393.0,1195.0,1588.0,2.50,8.00,5.20
59,1960,452.0,1218.0,1670.0,2.90,8.20,5.50

## Homicidios

In [63]:
url="https://datosmacro.expansion.com/demografia/homicidios/espana"

# Make a GET request to fetch the raw HTML content
html_content = requests.get(url).text

# Parse the html content
soup = BeautifulSoup(html_content, "lxml")

In [64]:
tablas = soup.find_all('table')

tr = tablas[0].tbody.find_all("tr")
df_homicidio_esp = pd.DataFrame(columns = ['FECHA','HOMICIDIOS','HOMICIDIOS_POR_100K'])
i = 0
for i in range(len(tr)):
    values = []
    for td in tr[i].find_all("td"):
        values.append(td.get("data-value"))
    if values[0] != '0' and values[1] != '0' and values[6] != '0':
        df_homicidio_esp = df_homicidio_esp.append({'FECHA' : values[0] , 'HOMICIDIOS' : values[1], 'HOMICIDIOS_POR_100K' : values[6]} , ignore_index=True)
    i = i + 1

In [65]:
df_homicidio_esp[['HOMICIDIOS','HOMICIDIOS_POR_100K']] = df_homicidio_esp[['HOMICIDIOS','HOMICIDIOS_POR_100K']].astype(float)
df_homicidio_esp['FECHA'] = pd.to_datetime(df_homicidio_esp.FECHA)
df_homicidio_esp['FECHA'] = df_homicidio_esp['FECHA'].dt.year
# df_homicidio_esp.to_excel('Datos/ESP/homicidio.xlsx', index=False)
df_homicidio_esp

    FECHA  HOMICIDIOS  HOMICIDIOS_POR_100K
0    2019       333.0                 0.71
1    2018       289.0                 0.62
2    2017       307.0                 0.66
3    2016       294.0                 0.63
4    2015       302.0                 0.65
5    2014       323.0                 0.69
6    2013       302.0                 0.64
7    2012       364.0                 0.77
8    2011       385.0                 0.82
9    2010       401.0                 0.85
10   2009       412.0                 0.88
11   2008       407.0                 0.88
12   2007       482.0                 1.06
13   2006       476.0                 1.06
14   2005       518.0                 1.18
15   2004       520.0                 1.20
16   2003       587.0                 1.38
17   2002       564.0                 1.35
18   2001       577.0                 1.40
19   2000       553.0                 1.35
20   1999       486.0                 1.20
21   1998       522.0                 1.30
22   1997       463.0                 1.16
23   1996       397.0                 0.99
24   1995       411.0                 1.03
25   1994       429.0                 1.08
26   1993       474.0                 1.20
27   1992       441.0                 1.12
28   1991       439.0                 1.12
29   1990       484.0                 1.23

## Emisiones CO2

In [66]:
url="https://datosmacro.expansion.com/energia-y-medio-ambiente/emisiones-co2/espana"

# Make a GET request to fetch the raw HTML content
html_content = requests.get(url).text

# Parse the html content
soup = BeautifulSoup(html_content, "lxml")

In [67]:
tablas = soup.find_all('table')

tr = tablas[0].tbody.find_all("tr")
df_emisiones_esp = pd.DataFrame(columns = ['FECHA','CO2_TOTALES','C02_PER_CAPITA'])
i = 0
for i in range(len(tr)):
    values = []
    for td in tr[i].find_all("td"):
        values.append(td.get("data-value"))
    if values[0] != '0' and values[1] != '0' and values[3] != '0':
        df_emisiones_esp = df_emisiones_esp.append({'FECHA' : values[0] , 'CO2_TOTALES' : values[1], 'C02_PER_CAPITA' : values[3]} , ignore_index=True)
    i = i + 1

In [68]:
df_emisiones_esp[['CO2_TOTALES','C02_PER_CAPITA']] = df_emisiones_esp[['CO2_TOTALES','C02_PER_CAPITA']].astype(float)
df_emisiones_esp['FECHA'] = pd.to_datetime(df_emisiones_esp.FECHA)
df_emisiones_esp['FECHA'] = df_emisiones_esp['FECHA'].dt.year
# df_emisiones_esp.to_excel('Datos/ESP/emisiones.xlsx', index=False)
df_emisiones_esp

    FECHA  CO2_TOTALES  C02_PER_CAPITA
0    2020      214.847            4.62
1    2019      255.831            5.51
2    2018      275.864            5.95
3    2017      280.225            6.05
4    2016      264.339            5.70
5    2015      273.713            5.90
6    2014      257.631            5.54
7    2013      260.353            5.58
8    2012      287.059            6.13
9    2011      293.205            6.25
10   2010      291.327            6.23
11   2009      304.391            6.55
12   2008      344.060            7.48
13   2007      375.972            8.28
14   2006      362.668            8.11
15   2005      371.535            8.44
16   2004      356.513            8.22
17   2003      340.604            7.99
18   2002      332.108            7.91
19   2001      314.704            7.60
20   2000      314.317            7.68
21   1999      297.984            7.35
22   1998      275.902            6.85
23   1997      267.249            6.66
24   1996      247.377            6.18
25   1995      256.034            6.42
26   1994      243.679            6.13
27   1993      233.503            5.89
28   1992      248.442            6.29
29   1991      239.668            6.08
30   1990      232.067            5.90
31   1989      227.499            5.80
32   1988      208.693            5.33
33   1987      204.466            5.24
34   1986      203.412            5.22
35   1985      199.884            5.15
36   1984      206.745            5.34
37   1983      217.846            5.66
38   1982      214.361            5.60
39   1981      221.188            5.81
40   1980      215.762            5.71
41   1979      205.345            5.48
42   1978      193.309            5.21
43   1977      195.357            5.31
44   1976      203.227            5.59
45   1975      185.168            5.15
46   1974      179.459            5.04
47   1973      166.663            4.74
48   1972      153.895            4.43
49   1971      141.699            4.12
50   1970      145.118            4.27

## Consumo electricidad

In [69]:
url="https://datosmacro.expansion.com/energia-y-medio-ambiente/electricidad-consumo/espana"

# Make a GET request to fetch the raw HTML content
html_content = requests.get(url).text

# Parse the html content
soup = BeautifulSoup(html_content, "lxml")

In [70]:
tablas = soup.find_all('table')

tr = tablas[0].tbody.find_all("tr")
df_consumo_gwh_esp = pd.DataFrame(columns = ['FECHA','GENERACION_GWh','CONSUMO_GWh','CONSUMO_PER_CAPITA'])
i = 0
for i in range(len(tr)):
    values = []
    for td in tr[i].find_all("td"):
        values.append(td.get("data-value"))
    if values[0] != '0' and values[1] != '0' and values[2] != '0' and values[3] != '0':
        df_consumo_gwh_esp = df_consumo_gwh_esp.append({'FECHA' : values[0] , 'GENERACION_GWh' : values[1], 'CONSUMO_GWh' : values[2], 'CONSUMO_PER_CAPITA' : values[3]} , ignore_index=True)
    i = i + 1

In [71]:
df_consumo_gwh_esp[['GENERACION_GWh','CONSUMO_GWh','CONSUMO_PER_CAPITA']] = df_consumo_gwh_esp[['GENERACION_GWh','CONSUMO_GWh','CONSUMO_PER_CAPITA']].astype(float)
df_consumo_gwh_esp['FECHA'] = pd.to_datetime(df_consumo_gwh_esp.FECHA)
df_consumo_gwh_esp['FECHA'] = df_consumo_gwh_esp['FECHA'].dt.year
# df_consumo_gwh_esp.to_excel('Datos/ESP/consumo_gwh.xlsx', index=False)
df_consumo_gwh_esp

    FECHA  GENERACION_GWh  CONSUMO_GWh  CONSUMO_PER_CAPITA
0    2021        519983.0     256462.0              5419.0
1    2020        502797.0     250051.0              5275.5
2    2019        521658.0     264635.0              5591.0
3    2018        260982.0     268886.0              5728.7
4    2017        262306.0     267867.0              5741.0
5    2016        261836.0     264666.0              5688.4
6    2015        267454.0     262808.0              5659.1
7    2014        266512.0     257720.0              5548.4
8    2013        273286.0     260598.0              5602.8
9    2012        283119.0     266860.0              5710.9
10   2011        279354.0     270022.0              5767.5
11   2010        288527.0     275736.0              5908.6
12   2009        280074.0     268193.0              5769.3
13   2008        295894.0     281051.0              6078.2
14   2007        288137.0     277954.0              6086.3
15   2006        280296.0     251891.0              5624.5
16   2005        273428.0     246125.0              5592.5
17   2004        262328.0     235230.0              5433.0
18   2003        244185.0     222921.0              5239.3
19   2002        226021.0     212103.0              5070.9
20   2001        221134.0     206603.0              5034.8
21   2000        208742.0     193917.0              4768.6
22   1999        194466.0     180703.0              4465.1
23   1998        183533.0     168488.0              4180.5
24   1997        179752.0     162581.0              4050.0
25   1996        165187.0     150650.0              3769.0
26   1995        156873.0     145402.0              3652.6
27   1994        152877.0     139597.0              3521.6
28   1993        147425.0     133844.0              3392.0
29   1992        148172.0     133969.0              3412.0
30   1991        147118.0     131902.0              3377.7
31   1990        143675.0     129219.0              3323.4
32   1989        140075.0     125859.0              3239.3
33   1988        129867.0     115046.0              2964.9
34   1987        127987.0     114291.0              2950.9
35   1986        127486.0     114255.0              2957.1
36   1985        124778.0     111865.0              2903.2
37   1984        117409.0     108653.0              2828.9
38   1983        114778.0     104163.0              2723.0
39   1982        113188.0      99595.0              2614.7
40   1981        109573.0      99205.0              2618.8
41   1980        108579.0      97231.0              2583.5

In [72]:
url="https://datosmacro.expansion.com/energia-y-medio-ambiente/electricidad-generacion/espana"

# Make a GET request to fetch the raw HTML content
html_content = requests.get(url).text

# Parse the html content
soup = BeautifulSoup(html_content, "lxml")

In [73]:
tablas = soup.find_all('table')

tr = tablas[0].tbody.find_all("tr")
df_renovables_esp = pd.DataFrame(columns = ['FECHA','GENERACION_RENOVABLES'])
i = 0
for i in range(len(tr)):
    values = []
    for td in tr[i].find_all("td"):
        values.append(td.get("data-value"))
    if values[0] != '0' and values[4] != '0':
        df_renovables_esp = df_renovables_esp.append({'FECHA' : values[0] , 'GENERACION_RENOVABLES' : values[4]} , ignore_index=True)
    i = i + 1

In [74]:
df_renovables_esp[['GENERACION_RENOVABLES']] = df_renovables_esp[['GENERACION_RENOVABLES']].astype(float)
df_renovables_esp['FECHA'] = pd.to_datetime(df_renovables_esp.FECHA)
df_renovables_esp['FECHA'] = df_renovables_esp['FECHA'].dt.year
# df_renovables_esp.to_excel('Datos/ESP/renovables.xlsx', index=False)
df_renovables_esp

    FECHA  GENERACION_RENOVABLES
0    2021               121272.0
1    2020               110605.0
2    2019                97913.0
3    2018               100344.0
4    2017                84611.0
5    2016               101089.0
6    2015                94088.0
7    2014               107876.0
8    2013               109758.0
9    2012                85339.0
10   2011                86667.0
11   2010                95761.0
12   2009                73951.0
13   2008                60470.0
14   2007                57869.0
15   2006                52819.0
16   2005                47024.0
17   2004                53699.0
18   2003                56273.0
19   2002                34932.0
20   2001                49364.0
21   2000                36119.0
22   1999                27857.0
23   1998                37198.0
24   1997                37273.0
25   1996                41296.0
26   1995                24490.0
27   1994                28900.0
28   1993                24964.0
29   1992                19553.0
30   1991                27704.0
31   1990                25852.0
32   1989                19679.0
33   1988                35399.0
34   1987                27551.0
35   1986                26616.0
36   1985                31475.0
37   1984                31611.0
38   1983                27228.0
39   1982                26453.0
40   1981                22043.0
41   1980                29504.0

# Merge

In [75]:
join_type = "outer"
inner_merged = pd.merge(df_pib_esp, df_deuda_esp, how=join_type, on=["FECHA"])
inner_merged1 = pd.merge(inner_merged, df_deficit_esp, how=join_type, on=["FECHA"])
inner_merged2 = pd.merge(inner_merged1, df_gasto_edu_esp, how=join_type, on=["FECHA"])
inner_merged3 = pd.merge(inner_merged2, df_gasto_salud_esp, how=join_type, on=["FECHA"])
inner_merged4 = pd.merge(inner_merged3, df_gasto_def_esp, how=join_type, on=["FECHA"])
inner_merged5 = pd.merge(inner_merged4, df_smi_esp, how=join_type, on=["FECHA"])
inner_merged6 = pd.merge(inner_merged5, df_salario_medio_esp, how=join_type, on=["FECHA"])
inner_merged7 = pd.merge(inner_merged6, df_ipc, how=join_type, on=["FECHA"])
inner_merged8 = pd.merge(inner_merged7, df_corrupcion_esp, how=join_type, on=["FECHA"])
inner_merged9 = pd.merge(inner_merged8, df_desempleo, how=join_type, on=["FECHA"])
inner_merged10 = pd.merge(inner_merged9, df_export_esp, how=join_type, on=["FECHA"])
inner_merged11 = pd.merge(inner_merged10, df_import_esp, how=join_type, on=["FECHA"])
inner_merged12 = pd.merge(inner_merged11, df_balanza_esp, how=join_type, on=["FECHA"])
inner_merged13 = pd.merge(inner_merged12, df_natalidad_esp, how=join_type, on=["FECHA"])
inner_merged14 = pd.merge(inner_merged13, df_mortalidad_esp, how=join_type, on=["FECHA"])
inner_merged15 = pd.merge(inner_merged14, df_pobreza_esp, how=join_type, on=["FECHA"])
inner_merged16 = pd.merge(inner_merged15, df_vida_esp, how=join_type, on=["FECHA"])
inner_merged17 = pd.merge(inner_merged16, df_idh_esp, how=join_type, on=["FECHA"])
inner_merged18 = pd.merge(inner_merged17, df_suicidio_esp, how=join_type, on=["FECHA"])
inner_merged19 = pd.merge(inner_merged18, df_homicidio_esp, how=join_type, on=["FECHA"])
inner_merged20 = pd.merge(inner_merged19, df_emisiones_esp, how=join_type, on=["FECHA"])
inner_merged21 = pd.merge(inner_merged20, df_consumo_gwh_esp, how=join_type, on=["FECHA"])
inner_merged22 = pd.merge(inner_merged21, df_renovables_esp, how=join_type, on=["FECHA"])
inner_merged23 = pd.merge(inner_merged22, df_poblacion_esp, how=join_type, on=["FECHA"])
inner_merged23.to_csv('Datos/ESP/TOTALES.csv', index=False, sep=';', decimal=',')

In [76]:
inner_merged23.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 115 entries, 0 to 114
Data columns (total 56 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   FECHA                       115 non-null    int64
 1   PIB                         82 non-null     float64
 2   PIB_VAR_PORCENTAJE          82 non-null     float64
 3   DEUDA_TOTAL                 82 non-null     float64
 4   DEUDA_PIB_PORCENTAJE        82 non-null     float64
 5   DEUDA_PER_CAPITA            82 non-null     float64
 6   DEFICIT                     82 non-null     float64
 7   DEFICIT_PIB_PORCENTAJE      82 non-null     float64
 8   EDU_GASTO_TOTAL             80 non-null     float64
 9   EDU_GASTO_PIB_PORCENTAJE    80 non-null     float64
 10  SALUD_GASTO_TOTAL           102 non-null    float64
 11  SALUD_GASTO_PORCENTAJE_PIB  102 non-null    float64
 12  DEF_GASTO_TOTAL             114 non-null    float64
 13  DEF_GASTO_PORCENTAJE_PIB    114 non-null    float64
 14  SMI                         98 non-null     float64
 15  SALARIO                     42 non-null     float64
 16  IPC                         113 non-null    float64
 17  INDICE_CORRUPCION           52 non-null     float64
 18  TASA_DESEMPLEO              71 non-null     float64
 19  EXPORTACIONES               62 non-null     float64
 20  EXPORT_PORCENTAJE_PIB       62 non-null     float64
 21  IMPORTACIONES               62 non-null     float64
 22  IMPORT_PORCENTAJE_PIB       62 non-null     float64
 23  BALANZA_COMERCIO            62 non-null     float64
 24  BALANZA_PIB_PORCENTAJE      62 non-null     float64
 25  NACIDOS                     114 non-null    float64
 26  NACIDOS_HOMBRES             114 non-null    float64
 27  NACIDOS_MUJERES             114 non-null    float64
 28  IND_FECUNDACION             114 non-null    float64
 29  MUERTES                     114 non-null    float64
 30  MUERTES_HOMBRES             114 non-null    float64
 31  MUERTES_MUJERES             114 non-null    float64
 32  TASA_MORTALIDAD             114 non-null    float64
 33  RIESGO_POBREZA              52 non-null     float64
 34  ESP_MUJERES                 114 non-null    float64
 35  ESP_HOMBRES                 114 non-null    float64
 36  ESPERANZA_VIDA              114 non-null    float64
 37  IDH                         60 non-null     float64
 38  S_MUJERES                   113 non-null    float64
 39  S_HOMBRES                   113 non-null    float64
 40  SUICIDIOS                   113 non-null    float64
 41  TASA_S_MUJERES              113 non-null    float64
 42  TASA_S_HOMBRES              113 non-null    float64
 43  SUICIDIOS_POR_100K          113 non-null    float64
 44  HOMICIDIOS                  60 non-null     float64
 45  HOMICIDIOS_POR_100K         60 non-null     float64
 46  CO2_TOTALES                 104 non-null    float64
 47  C02_PER_CAPITA              104 non-null    float64
 48  GENERACION_GWh              83 non-null     float64
 49  CONSUMO_GWh                 83 non-null     float64
 50  CONSUMO_PER_CAPITA          83 non-null     float64
 51  GENERACION_RENOVABLES       83 non-null     float64
 52  DENSIDAD                    104 non-null    float64
 53  HOMBRES_POB                 104 non-null    float64
 54  MUJERES_POB                 104 non-null    float64
 55  POBLACION_TOTAL             104 non-null    float64
dtypes: float64(55), int64(1)
memory usage: 51.2 KB